@inherits FeaturedEventCardBaseV2
@using QLN.Web.Shared.Components.EmptyCard

<MudLink Href="@($"/content/v2/events/details/{Item.Slug}")" Style="text-decoration: none;">
    <div class="fec--category-event-card-section">
        <div class="fec--card-contents">
            <div class="fec--category-event-image-wrapper">

                @if (ShowEmptyCard)
                {
                    <EmptyCard Title="No image found." Subtitle="Please check back later for updates." />
                }
                else
                {
                    @if (!imageLoaded)
                    {
                        <MudSkeleton SkeletonType="SkeletonType.Rectangle" Width="100%" Height="200px" />
                    }

                    <img src="@Item.CoverImage" alt="@Item.EventTitle" class="fec--category-event-image"
                         style="@(imageLoaded ? "display: block;" : "display: none;")" @onload="OnImageLoaded"
                         @onerror="OnImageError" key="@Item.CoverImage" />
                }

            </div>
            <h4 class="fec--category-event-card-title">@Item.EventTitle</h4>
        </div>
    </div>
</MudLink>



<style>
    .fec--category-event-card-section {
        transition: transform 0.3s ease;
        cursor: pointer;
        padding: 0;
        width: 182px;
        height: 205px !important;
        font-family: 'Public Sans', sans-serif;
    }

    .fec--category-event-card-section:hover {
        transform: scale(1.03);
    }

    .fec--card-contents {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .fec--category-event-image-wrapper {
        width: 100%;
        height: 115px !important;
        border-radius: 10px;
        overflow: hidden;
        margin-bottom: 8px;
    }

    .fec--category-event-image {
        width: 100%;
        height: 100%;
        object-fit: contain;
        display: block;
    }

    .fec--category-event-card-title {
        font-size: 18px;
        font-weight: 500;
        margin: 0;
        color: var(--color-text-heading);
        line-height: 26px;
        letter-spacing: 0;
        overflow: hidden;
        display: -webkit-box;
        text-overflow: ellipsis;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
    }

    @@media (max-width: 768px) {

        .fec--card-contents {
            align-items: flex-start;
            text-align: left;
        }

        .fec--category-event-card-title {
            font-size: 0.85rem;
            color: #242424;
            text-align: center;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            width: 100%;
        }

    }
</style>
