@page "/content/article/details/{*slug}"
@page "/content/daily/article/details/{*slug}"
@inherits ArticleBase
@layout ContentLayout
@using QLN.Web.Shared.Components.Carousel
@using QLN.Web.Shared.Pages.Content.Article.Components
@using QLN.Web.Shared.Pages.Content.Community
@using QLN.Web.Shared.Components.BreadCrumb
@using QLN.Web.Shared.Components.EmptyCard
@using QLN.Web.Shared.Components.BannerHero
@using QLN.Web.Shared.Pages.Content.Events

@using MudBlazor

<div style="width: 100%; background-color: var(--color-secondary-background);">

    <div class="responsive-container">
        <!-- Carousel Banner -->
                @if (isLoadingBanners)
                {
                    <BannerSkleton />
                }
                else if (DailyHeroBanners?.Any() == true)
                {
                    <BannerHero BannerItems="DailyHeroBanners" Loading="isLoadingBanners" />
                }
                else
                {
                    <EmptyCard Title="No news banners found."
                            Subtitle="Please check back later for updates." />
                } 
                @if(isLoading){
                     <MudSkeleton SkeletonType="SkeletonType.Text" Height="24px" Width="40%" Animation="Animation.Wave" /> 
                }
                else{
                    <Breadcrumb Items="breadcrumbItems" />
                }
        <MudGrid Class="py-4" GutterSize="16px">
            <MudItem xs="12" md="8">
                <ArticleDetailCard Post="newsArticle" loading="isLoading"/>
                         <CommentSection Comment="SelectedPost"/>    
            </MudItem>
            <MudItem xs="12" md="4">
                <MoreArticleSection Articles="@moreArticleList" loading="@isLoading" ArticleSideBanners="ArticleSideBanners" Events="@vMoreArticles" category="@category" subCategory="@subcategory"/>
            </MudItem>
        </MudGrid>
    </div>
</div>



<style>
    .responsive-container {
        max-width: 1170px;
        margin: 0 auto;
        width: 100%;
    }
    .article-container {
        max-width: 1170px;
        margin: 0 auto;
        width: 100%;
    }
    .disclaimer-section {
        background-color: #FFF8EC;
        padding: 12px 16px;
        display: flex;
        align-items: center;
        border-radius: 4px;
        margin-top:10px;
    }

    .disclaimer-icon {
        width: 24px;
        height: 24px;
        margin-right: 12px;
        vertical-align: middle;
    }

    .disclaimer-text {
        font-family: 'Public Sans', sans-serif;
        font-weight: 700;
        font-size: 14px;
        line-height: 22px;
        color: #646464;
    }

    @@media (max-width: 768px) {
        .responsive-container {
            padding: 0 16px;
        }
    }

    @@media (max-width: 480px) {
        .responsive-container {
            padding: 0 5px;
        }
    }
    
</style>
