@inherits EditServiceFormBase
@using QLN.ContentBO.WebUI.Components.PhoneNumberInput;
@using QLN.ContentBO.WebUI.Components.FilePreviewDialog;
@using QLN.ContentBO.WebUI.Models

<EditForm EditContext="@editContext" OnSubmit="@SubmitForm">
    <DataAnnotationsValidator />
    <div class="create-form-list">
        <h3 class="form-heading">Ad Category</h3>
            <MudSelect T="Guid" Label="Category" Variant="Variant.Outlined" Class="white-bg" FullWidth="true"
           Value="selectedService.CategoryId"
           ValueChanged="@OnCategoryChanged">
   
        @foreach (var cat in CategoryTrees)
        {
            <MudSelectItem T="Guid" Value="@cat.Id">@cat.Category</MudSelectItem>
        }
    
</MudSelect>

<MudSelect T="Guid" Label="Subcategory" Variant="Variant.Outlined" Class="white-bg" FullWidth="true"
           Value="selectedService.L1CategoryId"
           ValueChanged="@OnL1CategoryChanged"
           Disabled="@(_selectedL1Categories.Count == 0)">
    @foreach (var l1 in _selectedL1Categories)
    {
        <MudSelectItem T="Guid" Value="@l1.Id">@l1.Name</MudSelectItem>
    }
</MudSelect>

<MudSelect T="Guid" Label="Section" Variant="Variant.Outlined" Class="white-bg" FullWidth="true"
           @bind-Value="selectedService.L2CategoryId"
           Disabled="@(_selectedL2Categories.Count == 0)">
    @foreach (var l2 in _selectedL2Categories)
    {
        <MudSelectItem T="Guid" Value="@l2.Id">@l2.Name</MudSelectItem>
    }
</MudSelect>
        <h3 class="form-heading">Price</h3>
        <MudCheckBox T="bool" @bind-Checked="selectedService.IsPriceOnRequest" Label="This Price on request services" />

        <div class="services-custom-alert" style="margin-bottom: 20px;">
            <div class="services-icon-box">
                <img src="qln-images/services_bulb_icon.svg" alt="Bulb Icon"/>
            </div>
            <div class="services-alert-text">
                If your service is marked as 'price on request', the price will not appear on the offer card or details page.
            </div>
        </div>

        <MudTextField Class="white-bg" Variant="Variant.Outlined" T="decimal?" Label="Price"
                      @bind-Value="selectedService.Price" For="@(() => selectedService.Price)" FullWidth="true" />

        <h3 class="form-heading">Description and Features</h3>
        <MudTextField Class="white-bg" Variant="Variant.Outlined" T="string" Label="Title"
                      @bind-Value="selectedService.Title" For="@(() => selectedService.Title)" FullWidth="true" />

        <MudExRichTextEdit @bind-Value="selectedService.Description" @ref="Editor"
                           Height="350" Placeholder="Start Typing"
                           For="@(() => selectedService.Description)">
        </MudExRichTextEdit>
        <MudPaper Class="catification-upload-section" Style="margin-top: 20px;">
            <div class="catification-upload-info">
                <h3 class="catification-upload-label">Certificate / Warranty*</h3>

                @if (!string.IsNullOrEmpty(selectedFileName))
                {
                    <div class="catification-file-info">
                        <span class="catification-file-name">
                            @ShortFileName(selectedFileName, 10)
                        </span>
                        <MudIconButton Icon="@Icons.Material.Outlined.Close"
                                    Size="Size.Small"
                                    Color="Color.Error"
                                    OnClick="ClearFile"
                                    />
                    </div>
                }
            </div>

            <MudFileUpload T="IBrowserFile"
                        Accept=".pdf,.png,.jpg,.jpeg"
                        MaxFileSize="10485760"
                        FilesChanged="OnCrFileSelected">
                <ActivatorContent>
                    @if (!string.IsNullOrWhiteSpace(selectedService.LicenseCertificate))
                    {
                        <MudButton Variant="Variant.Filled"
                            Color="Color.Primary"
                            StartIcon="@Icons.Material.Outlined.Visibility"
                            OnClick="@(() => PreviewFile(selectedService.LicenseCertificate))"
                            Class="catification-upload-button">
                        View
                    </MudButton>
                        
                    }
                    else {
                        <MudButton Variant="Variant.Filled"
                            Color="Color.Primary"
                            Class="catification-upload-button">
                        Upload
                        <img src="/qln-images/upload_white_icon.svg" width="20" height="20" />
                    </MudButton>

                    }
                </ActivatorContent>
            </MudFileUpload>
        </MudPaper> 
        <MudText Typo="Typo.caption">Supported file formats: PDF, PNG, JPG. Max: 10MB</MudText>              

        <h3 class="form-heading">Contact Details</h3>
        <div class="form-group">

                <!-- Phone -->
                    <PhoneNumberInput
                        SelectedCountry="@SelectedPhoneCountry"
                        Placeholder="Phone Number"
                        SelectedCountryChanged="@OnPhoneCountryChanged"
                        PhoneNumber="@selectedService.PhoneNumber"
                        PhoneNumberChanged="@OnPhoneChanged"
                        DefaultCountryCode="@selectedService.PhoneNumberCountryCode" />
                <ValidationMessage For="@(() => @selectedService.PhoneNumber)" />
                </div>
                <div class="form-group">
                    <!-- WhatsApp -->
                    <PhoneNumberInput
                        SelectedCountry="@SelectedWhatsappCountry"
                        Placeholder="WhatsApp Number"
                        SelectedCountryChanged="@OnWhatsappCountryChanged"
                        PhoneNumber="@selectedService.WhatsappNumber"
                        PhoneNumberChanged="@OnWhatsappChanged" 
                        DefaultCountryCode="@selectedService.WhatsappNumberCountryCode"/>
                <ValidationMessage For="@(() => selectedService.WhatsappNumber)" />
                </div>
                <div class="form-group">
                    <!-- WhatsApp -->
                    <MudTextField Class="white-bg" Variant="Variant.Outlined" T="string" Label="Email Address"
                      @bind-Value="selectedService.EmailAddress" For="@(() => selectedService.EmailAddress)" FullWidth="true" />
                </div>

        <h3 class="form-heading">Location</h3>

        <MudSelect T="string"
           Label="Zone"
           @bind-Value="selectedService.ZoneId"
           For="@(() => selectedService.ZoneId)"
           Variant="Variant.Outlined"
           Class="white-bg"
           FullWidth="true">
    @foreach (var zone in Zones)
    {
        <MudSelectItem T="string" Value="@zone.Id">@zone.Name</MudSelectItem>
    }
</MudSelect>


        <MudTextField Class="white-bg" Variant="Variant.Outlined" T="int?" Label="Street Number"
                      @bind-Value="Ad.StreetNumber" For="@(() => Ad.StreetNumber)" FullWidth="true" />

        <MudTextField Class="white-bg" Variant="Variant.Outlined" T="int?" Label="Building Number"
                      @bind-Value="Ad.BuildingNumber" For="@(() => Ad.BuildingNumber)" FullWidth="true" />

        <div id="map" style="height: 300px; width: 100%;"></div>

         <div class="checkbox-section">
            <div class="checkbox-left">
                <MudCheckBox @bind-Value="IsAgreed" Color="Color.Primary" />
            </div>
            <div class="checkbox-right">
                <span>
                    I agree to the
                    <a href="https://www.qatarliving.com/rules-advertising" target="_blank">Rules for Advertising</a>
                    and the
                    <a href="https://www.qatarliving.com/terms-of-use" target="_blank">Terms of Use</a>.
                </span>
            </div>
        </div>
        <ValidationMessage For="@(() => Ad.IsAgreed)" />
            <div class="custom-button-group">
                <MudButton Class="custom-button" Variant="Variant.Outlined">Cancel</MudButton>
                <MudButton Class="custom-button" Variant="Variant.Filled" Color="Color.Primary" ButtonType="ButtonType.Submit">Submit</MudButton>
            </div>
    </div>
</EditForm>