@inherits RadioAutoCompleteDialogBase
<MudDialog Class="pa-2 custom-dialog">
    <DialogContent>
         <div class="d-flex justify-center">
        <img class="icon-circle" src="/qln-images/search.svg" alt="search" />
        </div>
        <MudText Align="Align.Center" Class="mt-4 mb-2 title-style ">
            @Title
        </MudText>
        <MudRadioGroup T="string" @bind-Value="@TopicType" Class="custom-radio-group">
            <MudRadio T="string" Value="@("Article")">Article</MudRadio>
            <MudRadio T="string" Value="@("Video")">Video</MudRadio>
            <MudRadio T="string" Value="@("Event")">Event</MudRadio>
        </MudRadioGroup>
        <MudAutocomplete T="string"
                 Key="@Placeholder"
                 Label="@Placeholder"
                 Variant="Variant.Outlined"
                 @bind-Value="SelectedValue"
                 Adornment="Adornment.None"
                 SearchFunc="@( (string val, CancellationToken token) => SearchEventTitles(val, token) )"
                 ToStringFunc="@(s => s)"
                 ResetValueOnEmptyText="true"
                 CoerceText="true">
                 <ItemSelectedTemplate Context="s">  
                <MudText Class="d-flex justify-space-between align-center">
                   @($"{s}")<MudIcon Icon="@Icons.Material.Filled.Check" Class="ml-2" />
                </MudText>
            </ItemSelectedTemplate>
         </MudAutocomplete>
        <div class="mt-4 d-flex flex-column gap-2">
        <MudButton Variant="Variant.Filled"  Class="mt-4 custom-add-btn" OnClick="AddClicked">
            Add
        </MudButton>
        <MudButton Variant="Variant.Outlined" OnClick="Cancel" Class="mt-2 custom-close-btn">
            Close
        </MudButton>
        </div>
    </DialogContent>
</MudDialog>

