@page "/manage/events"
@inherits EventsBase
@using QLN.ContentBO.WebUI.Models;
<MudGrid Style="padding-top: 18px">
    <MudItem xs="12" md="12">  
            <MudText Class="events-style">Events</MudText>
            <MudTabs @bind-ActivePanelIndex="@activeIndex" Rounded="false" Centered="false" Class="custom-tabs" Style="background-color: #FAFAFA;" DisableSlideAnimation="true">
                @foreach (var tab in categories)
                {
                     <MudTabPanel Text="@tab" />
                }
            </MudTabs>
            @if(activeIndex == 0){
            <MudGrid AlignItems="Center" Class="padding-top:16px">
                <MudItem xs="12" md="12">
                    <div class="events-button-container">
                        <MudButton StartIcon="@Icons.Material.Outlined.Add" Style="background-color: #FF7F38; color: white; text-transform: none;" Class="compact-button" OnClick="NavigateToAddEvent">
                            Add Event
                        </MudButton>
                        <MudTextField @bind-Value="searchText"
                        Placeholder="Search for Events"
                        Variant="Variant.Outlined"
                        Adornment="Adornment.Start"
                        AdornmentIcon="@Icons.Material.Filled.Search"
                        Class="search-field" />
                        <div class="sort-by-wrapper">
                            <MudButton StartIcon="@Icons.Material.Filled.FilterList"
                            Variant="Variant.Outlined"
                            Class="sort-by-style">
                            Sort by
                            </MudButton>
                        </div>
                    </div>
            @{
                var indexedEvents = events.Select((e, i) => new { Event = e, Index = i + 1 }).ToList();
            }
            <MudTable Items="indexedEvents" Hover="true" Style="padding-top: 20px; margin-top: 40px;">
            <HeaderContent>
                <MudTh>Number</MudTh>
                <MudTh>Title</MudTh>
                <MudTh>Category</MudTh>
                <MudTh>Creation Date</MudTh>
                <MudTh>Expiry Date</MudTh>
                <MudTh>Live for</MudTh>
                <MudTh>Actions</MudTh>
                </HeaderContent>
                <RowTemplate>
                <MudTd DataLabel="Number">@context.Index</MudTd>
                <MudTd DataLabel="Post Title">
                <MudLink Href="#">@context.Event.EventTitle</MudLink>
                </MudTd>
        <MudTd DataLabel="Category">
            @Categories.FirstOrDefault(c => c.Id == context.Event.CategoryId)?.CategoryName
        </MudTd>
        <MudTd DataLabel="Creation Date">@context.Event.CreatedAt.ToString("dd-MM-yyyy")</MudTd>
        <MudTd DataLabel="Expiry Date">@context.Event.EventSchedule.EndDate.ToString("dd-MM-yyyy")</MudTd>
        <MudTd DataLabel="Live for">@context.Event.CreatedAt</MudTd>
        <MudTd>
            <MudMenu Icon="@Icons.Material.Filled.MoreVert" Color="Color.Default" Dense="true">
                <MudMenuItem>
                    <MudIcon Icon="@Icons.Material.Outlined.Edit" Class="me-2" /> Edit
                </MudMenuItem>
                <MudMenuItem>
                    <MudIcon Icon="@Icons.Material.Outlined.VisibilityOff" Class="me-2" /> Unpublish
                </MudMenuItem>
                <MudMenuItem OnClick="async () => await DeleteEvent(context.Event.Id.ToString())" Class="mud-error-text">
                    <MudIcon Icon="@Icons.Material.Filled.Delete" Class="me-2" /> Delete
                </MudMenuItem>
            </MudMenu>
        </MudTd>
    </RowTemplate>
</MudTable>
                </MudItem>
            </MudGrid>   
            }
            else{
            
                var indexedFeaturedEvents = featuredEventSlots
                    .Select((e, i) => new { FeaturedSlotViewModel = e, Index = i + 1 })
                    .ToList();

            <MudTable Items="indexedFeaturedEvents" Hover="true" Style="padding-top: 20px;">
            <HeaderContent>
                <MudTh>Slots</MudTh>
                <MudTh>Title</MudTh>
                <MudTh>Category</MudTh>
                <MudTh>End Date</MudTh>
                <MudTh>Actions</MudTh>
            </HeaderContent>
            <RowTemplate>
                <MudTd DataLabel="Number">@context.Index</MudTd>
                    <MudTd DataLabel="Post Title">
                        @if (context.FeaturedSlotViewModel.Event?.EventTitle == "Feature an Event")
                        {
                            <MudText Class="placeholder-text"
                                @onclick="() => ReplaceEventSlot(context.FeaturedSlotViewModel)">
                                @context.FeaturedSlotViewModel.Event?.EventTitle
                            </MudText>
                        }
                        else
                        {
                            <MudLink Href="#" Class="event-link">
                            @context.FeaturedSlotViewModel.Event?.EventTitle
                            </MudLink>
                        }
                    </MudTd>
                <MudTd DataLabel="Category">
                    @Categories.FirstOrDefault(c => c.Id == context.FeaturedSlotViewModel.Event?.CategoryId)?.CategoryName
                </MudTd>
                <MudTd DataLabel="End Date">
                    @context.FeaturedSlotViewModel.Event?.EventSchedule?.EndDate.ToString("dd-MM-yyyy")
                </MudTd>
                <MudTd>
                    <div class="custom-delete-button">
                        <img src="/qln-images/delete_icon.svg" alt="delete" class="action-icon-style" />
                    </div>
                </MudTd>
            </RowTemplate>
            </MudTable>
            }
    </MudItem>
</MudGrid>

<style>
    .events-style {
        font-family: 'Public Sans', sans-serif;
        font-size: 30px;
        font-weight: 600;
        color: #242424;
        text-transform: none;
    }
    .custom-tabs {
        background-color: #FAFAFA !important;
        border-bottom: 1px solid #f0f0f0;
        margin-bottom: 8px;
        font-family: 'Public Sans', sans-serif;
    }

    .custom-tabs .mud-tab {
        font-weight: 600;
        font-size: 14px;
        color: #A1A1A1;
        text-transform: none;
        padding: 12px 20px;
    }

    .custom-tabs .mud-tab.mud-tab-active {
        color: #FF7F38 !important; 
        font-weight: 600;
        border-bottom: 3px solid #FF7F38;
    }

    .custom-tabs .mud-tabs-toolbar {
        border-bottom: none; 
    }
    .custom-tabs .mud-tab {
        transition: color 0.3s ease, border-bottom 0.3s ease;
    }
    .search-field{
        background-color: #FFFFFF;
        max-width: 400px;
    }
    .events-button-container {
        display: flex;
        gap: 16px; 
        align-items: center;
        padding-top: 16px;
    }
    .compact-button {
        min-width: unset !important;
        width: auto !important;
        padding: 6px 16px; 
        white-space: nowrap; 
        height: 44px;
    }
    .mud-primary-text {
        color: var(#535862) !important;
        --mud-ripple-color: var(#535862) !important;
    }
    .sort-by-style {
        color: #646464; 
        border-radius: 8px; 
        box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05); 
        text-transform: none;
        height: 44px;
        background-color: #FFFFFF;
        font-family: 'Public Sans', sans-serif;
        font-size: 14px;
        font-weight: 600;
    }
    .sort-by-wrapper {
        margin-left: auto; 
    }
     .mud-button-group {
        border-radius: 8px;
        overflow: hidden;
    }

    .mud-button {
        min-width: 120px;
        font-weight: 500;
    }
    .custom-tab-active {
        background-color: #FF7F38; 
        color: white !important;
        border-radius: 6px;
        font-weight: 600;
    }

    .custom-tab-default {
        color: rgba(0, 0, 0, 0.6);
        font-weight: 500;
    }
    .placeholder-text {
        color: #FF7F38 !important;
        font-weight: 600 !important;
    }

    .event-link {
        color: #535862 !important;
        text-decoration: none !important;
    }
    .custom-delete-button {
        background-color: #F44336; 
        border-radius: 12px; 
        padding: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        cursor: pointer;
    }
</style>