@inherits LayoutComponentBase
@using QLN.Web.Shared.Components.FooterFolder
@inject CustomAuthStateProvider CustomAuthenticationStateProvider;
@inject NavigationManager NavManager
@using System.Security.Claims;

@inject ISnackbar Snackbar
@using Microsoft.AspNetCore.Http;

<MudThemeProvider />
<MudDialogProvider />
<MudPopoverProvider />
<MudSnackbarProvider Position="SnackbarPosition.BottomLeft" />


<header class="site-header mud-elevation-1">
    <MudIconButton Icon="@Icons.Material.Filled.Menu" OnClick="@ToggleMobileMenu" Class="mobile-menu-button" />

    <div class="header-left">
        <NavLink href="/">
            <MudImage id="logoImage" Src="/images/logo.png" Alt="Qatar Living" Height="30" />
        </NavLink>
    </div>
    <div class="@($"nav-container {(showMobileMenu ? "mobile-menu-open" : "")}")">
        <nav class="nav-links">
         
            <NavLink id="propertiesLink" href="https://qlp.qatarliving.com/en/properties" class="nav-link ">Properties</NavLink>
            <NavLink id="vehiclesLink" href="https://qlv.qatarliving.com/en/vehicles" class="nav-link ">Vehicles</NavLink>
            <NavLink id="classifiedsLink" href="https://www.qatarliving.com/classifieds" class="nav-link ">Classifieds</NavLink>
            <NavLink id="servicesLink" href="https://www.qatarliving.com/services" class="nav-link ">Services</NavLink>
            <NavLink id="jobsLink" href="https://www.qatarliving.com/jobs" class="nav-link ">Jobs</NavLink>
            <NavLink id="rewardsLink" href="/content/news" class="nav-link ">Rewards</NavLink>
        </nav>

    </div>

    <div class="header-right">
        <div class="post-button-wrapper">
                <MudMenu OffsetY="true" AnchorOrigin="Origin.BottomRight" TransformOrigin="Origin.TopRight">
                <ActivatorContent>
                <MudButton id="headerPostButton" @onclick="OnPostClicked" Variant="Variant.Filled" Style="background-color: #FF7F38; color: white;" Size="Size.Small"
                    StartIcon="@Icons.Material.Filled.Add" Class="post-ad-btn desktop-post-btn">
                    Post
                </MudButton>
           </ActivatorContent>
                @* <ChildContent>
                @foreach (var item in postMenuItems)
                {
                  <MudMenuItem  OnClick="@(() => NavManager.NavigateTo(item.Route))" Class="menu-item">
                <div id="options-@item.Text" class="menu-item-content">
                    <img src="@item.ImageSrc" alt="@item.Text" class="menu-item-icon" />
                    <span class="menu-item-text">@item.Text</span>
                </div>
            </MudMenuItem>
                    }
                </ChildContent> *@
            </MudMenu>

            <img src="/images/header/add_post_svg.svg" alt="Post" class="mobile-post-icon"
                @onclick="@(() => NavManager.NavigateTo("/"))" />
        </div>


        <MudAvatar Size="Size.Medium" Style="background-color: #E8F2FE;">
            <img id="favouriteIcon" src="/images/header/favourite_icon.svg" alt="Account" style="width: 70%; height: 70%; padding: 4px;" />
        </MudAvatar>
        <MudMenu OffsetY="true" AnchorOrigin="Origin.BottomRight" TransformOrigin="Origin.TopRight">
            <ActivatorContent>
                <div id="userIcon" style="display: flex; align-items: center; gap: 0.5rem;" class="cursor-pointer">
                    <MudAvatar Size="Size.Medium" Style="background-color: #D6E8F2;">
                        <img src="/images/header/account.svg" alt="Account"
                            style="width: 70%; height: 70%; padding: 4px;" />
                    </MudAvatar>
                    <MudTooltip Text="@Name">
                    <span class="user-name">
                        @((Name?.Length > 10) ? Name.Substring(0, 10) + "..." :
                                                Name)
                    </span>
                    </MudTooltip> 
                </div>
            </ActivatorContent>


            <ChildContent>
                @if (IsLoggedIn == true)
                {
                    <MudButton id="profileButton" Variant="Variant.Outlined" Color="Color.Warning"
                        StartIcon="@Icons.Material.Filled.AccountCircle"
                        Style="margin: 8px 12px 8px 12px; color: #ff7b00; border-color: #ff7b00; width: calc(100% - 24px); font-weight: bold;text-transform: capitalize;"
                        OnClick="@GoToProfile" Class="no-capitalize">

                        My Profile
                    </MudButton>

                    <MudButton id="logoutButton" Variant="Variant.Filled" Color="Color.Warning" StartIcon="@Icons.Material.Filled.Logout"
                        Style="margin: 8px 12px; background-color: #ff7b00; color: white; width: calc(100% - 24px); font-weight: bold;text-transform: capitalize;"
                        OnClick="@logout" Class="no-capitalize">
                        Logout
                    </MudButton>
                }
                else
                {
                    <MudButton id="loginButton" Variant="Variant.Outlined" Color="Color.Warning" StartIcon="@Icons.Material.Filled.Login"
                        Style="margin: 8px 12px 8px 12px; color: #ff7b00; border-color: #ff7b00; width: calc(100% - 24px); font-weight: bold;text-transform: capitalize;"
                        OnClick="@(() => NavManager.NavigateTo("https://www.qatarliving.com/user/login"))" Class="no-capitalize">
                        Login
                    </MudButton>

                    <MudButton id="SignupButton" Variant="Variant.Filled" Color="Color.Warning" StartIcon="@Icons.Material.Filled.PersonAdd"
                        Style="margin: 8px 12px; background-color: #ff7b00; color: white; width: calc(100% - 24px); font-weight: bold;text-transform: capitalize;"
                        OnClick="@(() => NavManager.NavigateTo("https://www.qatarliving.com/user/register"))" Class="no-capitalize">
                        Sign Up
                    </MudButton>
                }

            </ChildContent>
        </MudMenu>
    </div>
</header>

<main class="main-content">
    @Body
    <Footer />
</main>


@code {
    private bool showMobileMenu = false;
    public string Name { get; set; }
    public bool IsLoggedIn { get; set; } = false;

    protected override async Task OnInitializedAsync()
    {
        @* await base.OnInitializedAsync();   *@
        var authState = await CustomAuthenticationStateProvider.GetAuthenticationStateAsync();
        if (authState != null)
        {
            var user = authState.User;
            if (user.Identity != null && user.Identity.IsAuthenticated)
            {
                Name = user.FindFirst(ClaimTypes.Name)?.Value;
                IsLoggedIn = true;
            }
        }
    }
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender) return;
        var authState = await CustomAuthenticationStateProvider.GetAuthenticationStateAsync();
        if (authState != null)
        {
            var user = authState.User;
            if (user.Identity != null && user.Identity.IsAuthenticated)
            {
                Name = user.FindFirst(ClaimTypes.Name)?.Value;
                IsLoggedIn = true;
            }
            else
            {
                IsLoggedIn = false;
            }
        }
        else
        {
            IsLoggedIn = false;
        }
    }

    private void ToggleMobileMenu()
    {
        showMobileMenu = !showMobileMenu;
    }

    private void GoToProfile()
    {
        NavManager.NavigateTo("/profilePage");
    }

    public void logout()
    {
        CustomAuthenticationStateProvider.LogoutUser();
        Name = string.Empty;
        IsLoggedIn = false;
        NavManager.NavigateTo("/login");
    }
    private void OnPostClicked()
    {
        NavManager.NavigateTo("https://www.qatarliving.com/node/add/classified");
    }
    private List<MenuItem> postMenuItems = new List<MenuItem>
{
new MenuItem {
Text = "Properties",
ImageSrc = "/images/post-icons/ad_properties.svg",
Route = "/more-features-coming-soon"
},
new MenuItem {
Text = "Vehicles",
ImageSrc = "/images/post-icons/ad_vehicles.svg",
Route = "/more-features-coming-soon"
},
new MenuItem {
Text = "Classifieds",
ImageSrc = "/images/post-icons/ad_classifieds.svg",
Route = "/classifieds/createform"
},
new MenuItem {
Text = "Services",
ImageSrc = "/images/post-icons/ad_services.svg",
Route = "/more-features-coming-soon"
},
new MenuItem {
Text = "Jobs",
ImageSrc = "/images/post-icons/ad_jobs.svg",
Route = "/more-features-coming-soon"
},
new MenuItem {
Text = "Rewards",
ImageSrc = "/images/post-icons/ad_rewards.svg",
Route = "/more-features-coming-soon"
}
};

    private class MenuItem
    {
        public string Text { get; set; }
        public string ImageSrc { get; set; }
        public string Route { get; set; }
    }
}

<style>
    .mobile-menu-button {
        display: none;
        color: white;
    }

    .desktop-post-btn {
        display: inline-flex;
    }

    .mobile-post-icon {
        display: none;
        width: 32px;
        height: 32px;
        cursor: pointer;
    }

 .menu-item {
        padding: 0;
        min-height: 40px;
    }

    .menu-item-content {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 16px;
        font-family: public-sans, sans-serif;
        border-bottom: 1px solid #EAECF0;
        padding: 8px 30px;
        width: 100%;
    }

    .menu-item:last-child .menu-item-content {
        border-bottom: none;
    }

    .menu-item-icon {
        width: 22px;
        height: 22px;
        object-fit: contain;
    }

    .menu-item-text {
        font-size: 13px;
        font-weight: 500;
        color: var(--color-text-heading);
        flex-grow: 1;
    }
    .nav-link {
        color: white;
        text-decoration: none;
    }

        .nav-link.active {
            color: #FF7F38;
        }


    @@media (max-width: 1024px) {
        .desktop-post-btn {
            display: none !important;
        }

        .mobile-post-icon {
            display: inline-block !important;
        }
    }

    @@media (max-width: 992px) {
        .mobile-menu-button {
            display: block;
            z-index: 1001;
        }

        .nav-container {
            position: fixed;
            top: 0;
            left: -100%;
            width: 80%;
            max-width: 300px;
            height: 100vh;
            background-color: #003366;
            flex-direction: column;
            justify-content: flex-start;
            padding: 4rem 1rem 1rem;
            z-index: 1000;
            transition: left 0.3s ease;
        }

        .nav-container.mobile-menu-open {
            left: 0;
        }

        .nav-links {
            flex-direction: column;
            gap: 1.5rem;
            margin-bottom: 2rem;
        }

       
    }
</style>