@using MudBlazor
@using System.Collections.Generic

<MudCarousel Class="mud-width-full" Style="height: 230px;"
             ShowArrows="@ShowArrows"
             EnableSwipeGesture="@EnableSwipeGesture"
             AutoCycle="@AutoCycle"
             ShowBullets="false"
             TData="string">
             

    @if (ImageUrls != null)
    {
        @foreach (var image in ImageUrls)
        {
            <MudCarouselItem Transition="@Transition">
                <div style="width: 100%; height: 100%;">
                    <img src="@image" style="width: 100%; height: 100%; object-fit: cover;" />
                </div>
            </MudCarouselItem>
        }
    }

</MudCarousel>

@code {
    [Parameter]
    public List<string> ImageUrls { get; set; } = new();

    [Parameter]
    public bool ShowArrows { get; set; } = true;

    [Parameter]
    public bool EnableSwipeGesture { get; set; } = true;

    [Parameter]
    public bool AutoCycle { get; set; } = true;

    [Parameter]
    public Transition Transition { get; set; } = Transition.Slide;
}