@inherits VideoCardsBase
@using MudBlazor;
@using QLN.Web.Shared.Components.EmptyCard
@if (Articles?.Any() == true)
{
    <div class="watch-section">
        <!-- Main Video -->

        <div class="main-video-wrapper video-card" @onclick="() => onclick(SelectedArticle)">
            @if (Articles != null && Articles.Any())
            {
                @if (string.IsNullOrWhiteSpace(SelectedArticle.ImageUrl))
                {
                    <div class="image-placeholder">
                        No image available
                    </div>
                }
                else
                {
                    <img src="@SelectedArticle.ImageUrl" class="selected-image-style" />
                }
            }
            else
            {
                <EmptyCard Title="No article found" Subtitle="Please check back later or explore other categories." />
            }
            <div class="video-overlay-center">
                <MudIcon Icon="@Icons.Material.Filled.PlayArrow" />
            </div>
        </div>


        <!-- Video List -->
        <div class="video-list-container">
            <div class="section-title">
                <h3 class="section-heading">
                    <span class="accent-bar"></span>Watch on Qatar Living
                </h3>
            </div>
            <div class="video-list">
                @if (Articles != null && Articles.Any())
                {
                    @foreach (var video in Articles.Take(3))
                    {
                        <div class="video-card" @onclick="() => SelectVideo(video)">
                            <div class="thumbnail-container">
                                <img src="@video.ImageUrl" class="thumbnail" />
                                <div class="play-icon-daily">
                                    <MudIcon Icon="@Icons.Material.Filled.PlayArrow" />
                                </div>
                            </div>
                            <div class="video-title">
                                @if (video == SelectedArticle)
                                {
                                    <MudLink class="selected-title" href="@($"/content/article/details/{video.Slug}")">
                                        @video.Title
                                    </MudLink>
                                }
                                else
                                {
                                    <MudLink class="list-title" href="@($"/content/article/details/{video.Slug}")">
                                        @video.Title
                                    </MudLink>
                                }
                            </div>
                        </div>
                    }
                }
                else
                {
                    <EmptyCard Title="No article found" Subtitle="Please check back later or explore other categories." />
                }
            </div>
        </div>
    </div>
}


<style>
    .selected-image-style {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 6px;
    }

    .image-placeholder {
        width: 100%;
        height: 140px;
        border-radius: 6px;
        display: flex;
        font-family: 'Public Sans', sans-serif;
        background-color: #FAFAFA;
        border-radius: 6px;
        align-items: center;
        justify-content: center;
        color: #555;
        font-size: 1rem;
    }

    .watch-section {
        display: flex;
        width: 100%;
        font-family: 'Public Sans', sans-serif;
        flex-wrap: wrap;
        padding-bottom: 20px;
        justify-content: space-between;
    }

    .main-video-wrapper {
        order: 2;
        position: relative;
        width: 100%;
        max-width: 738px;
        aspect-ratio: 16 / 9;
        border-radius: 12px;
        overflow: hidden;
        cursor: pointer;
        flex: 1;
        border: #F0F0F0 1px solid;
    }

    .main-video-wrapper video {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .video-overlay-center {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
    }

    .video-overlay-center .mud-icon-root {
        background-color: rgba(0, 0, 0, 0.6);
        padding: 5px;
        border-radius: 50%;
        font-size: 80px;
        color: #f26522;
    }



    .video-list {
        width: 100%;
        height: 416px;
    }

    .video-list h2 {
        font-size: 20px;
        margin-bottom: 20px;
    }

    .video-card {
        display: flex;
        margin-bottom: 16px;
        border-bottom: 1px solid #F0F0F0;
        border-radius: 8px;
        padding: 8px 8px 8px 0px;
    }

    @* .accent-bar {
        color: #003865;
        font-weight: bold;
        margin-right: 4px;
        order: 0;
    } *@
    .section-title {
        width: 100%;
        order: 0;
        font-family: 'Public Sans', sans-serif;
        font-size: 25px;
        font-weight: 600;
        color: var(--color-text-heading);
        padding-bottom: 20px;
    }


    .thumbnail-container {
        position: relative;
        width: 180px;
        height: 100px;
        margin-right: 12px;
    }

    .thumbnail {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 6px;
    }

    .play-icon {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 18px;
        color: white;
        background: rgba(0, 0, 0, 0.5);
        padding: 4px 6px;
        border-radius: 50%;
    }

    .video-title {
        flex: 1;
        display: flex;
        align-items: center;
        font-size: 14px;
    }

    .section-heading {
        display: flex;
        align-items: center;
        font-family: 'Public Sans', sans-serif;
        font-size: 25px;
        font-weight: 600;
        color: var(--color-primary);
    }

    .accent-bar {
        display: inline-block;
        width: 6px;
        height: 26px;
        background-color: var(--color-primary);
        margin-right: 8px;
    }

    .selected-title {
        font-family: 'Public Sans', sans-serif;
        font-size: 16px;
        font-weight: 600;
        color: var(--color-primary);
    }

    .list-title {
        font-family: 'Public Sans', sans-serif;
        font-size: 16px;
        font-weight: 600;
        color: var(--color-text-heading);
    }

    .list-title:hover {
        text-decoration: underline;
        cursor: pointer;
    }

    .selected-title:hover {
        text-decoration: underline;
        cursor: pointer;
    }

    .view-all {
        display: flex;
        justify-content: flex-end;
        margin-top: 8px;
        width: 100%;
        padding-left: 20px;
    }

    .view-all a {
        color: #FF7F38;
        font-weight: bold;
        font-size: 14px;
        text-decoration: none;
    }

    .main-video {
        flex: 1;
        background: #fafafa;
        border-radius: 8px;
        padding: 16px;
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.05);
    }

    .main-thumbnail {
        width: 100%;
        height: auto;
        border-radius: 8px;
    }

    .play-icon-daily {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
    }

    .play-icon-daily .mud-icon-root {
        background-color: rgba(0, 0, 0, 0.6);
        padding: 2px;
        border-radius: 50%;
        font-size: 40px;
        color: #f26522;
    }

    .video-list-container {
        width: 35%;
        order: 1;
    }

    .video-list {
        height: 416px;
    }


    @@media (max-width: 768px) {
        .watch-section {
            flex-direction: column;
            padding: 8px;
        }

        .section-title {
            order: 1;
        }

        .main-video-wrapper {
            order: 2;
            width: 100% !important;
            max-width: 100%;
        }

        .video-list-container {
            order: 3;
            width: 100% !important;
        }

        .video-list {
            height: auto;
        }

    }

    @@media (max-width: 1024px) {
        .video-title {
            flex: 1;
            display: flex;
            align-items: flex-start;
            /* Align text to top */
            font-size: 14px;
        }

        .list-title,
        .selected-title {
            display: -webkit-box;
            -webkit-line-clamp: 2;
            /* Limit to 2 lines */
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: normal;
            /* Allow wrapping */
        }
    }
</style>