@page "/qln/content/videos"
@inherits VideosBase
@layout ContentLayout
@using MudBlazor
@using QLN.Web.Shared.Components.Carousel
@using QLN.Web.Shared.Pages.Content.News.NewsCard
@using QLN.Web.Shared.Pages.Content.News.VideoDisplayCards
@using QLN.Web.Shared.Pages.Content.News.VideoCard
@using QLN.Web.Shared.Pages.Content.Events
@using QLN.Web.Shared.Components.BannerHero
@using QLN.Web.Shared.Pages.Content.Daily.DailyVideoCards
@using QLN.Web.Shared.Components.BannerTakeOver
@using QLN.Web.Shared.Components.EmptyCard
<PageTitle>Qatar Living | The go-to place for lifestyle, news, and events</PageTitle>

<div style="width: 100%;background-color: var(--color-secondary-background); align-items:center">
        <div class="max-carousel-container">
            @if (isLoadingBanners)
            {
                <BannerSkleton />
            }
            else if (DailyHeroBanners?.Any() == true)
            {
                <BannerHero BannerItems="DailyHeroBanners" Loading="isLoadingBanners" />
            }
            else
            {
                <EmptyCard Title="No news banners found."
                           Subtitle="Please check back later for updates." />
            }
            <MudButton Style="color: var(--color-primary); text-transform: none; font-size: 14px; font-weight: 500; font-family: 'Public Sans', sans-serif;">
                <StartIcon>
                    <img src="qln-images/classifieds/chevron-left.svg" alt="Back" style="width: 16px; height: 16px; margin-right: 8px;" />
                </StartIcon>
                    Back to Daily Living
            </MudButton>

        </div>
        <div class="news-container" style="background-color: #FFFFFF;">
                    <div class="max-container">
                            <h3 class="section-heading" style="padding: 24px 0px;">
                                <span class="accent-bar"></span>Watch on Qatar Living
                            </h3>
                    </div>
                    <div class="news-container">
                        @if (VideoList?.Count > 0)
                        {
                            <div class="max-container" id="video-cards-section">
                                <VideoDisplayCards Items="@VideoList" @bind-SelectedVideo="@SelectedVideo"/>
                            </div>
                        }
                    </div>
                    <div class="max-container">
                    <MudGrid GutterSize="0" Class="grid-padding responsive-grid py-5">
                     @foreach (var entry in contentVideos.Take(6).Select((video, i) => new { video, i }))
                    {
                        var showDivider = ((entry.i + 1) % 3) == 0;
                        <MudItem xs="12" sm="6" md="4"> 
                        <div class="card-with-divider" @onclick="@(() => PlayVideo(entry.video))">
                            <VideoCard video="@entry.video" />
                             @if (!showDivider)
                            {
                                <MudHidden xs="true" sm="true">
                                    <div style="width: 1px; height: auto; background-color: #F0F0F0; align-self: stretch; margin: 0 14px"></div>
                                </MudHidden>
                            } 
                        </div>      
                        </MudItem>
                    }
                    </MudGrid>
                    </div>
                    <div class="max-carousel-container">
                        @if (isLoadingBanners)
                        {
                            <BannerSkleton />
                        }
                        else if (DailyHeroBanners?.Any() == true)
                        {
                            <BannerTakeOver BannerItems="@DailyTakeOverBanners" Loading="@isLoadingBanners" />
                        }
                        else
                        {
                            <EmptyCard Title="No event banners found."
                                       Subtitle="Please check back later for updates." />
                        }
                    </div>

                    <div class="max-container">
                    <MudGrid GutterSize="0" Class="grid-padding responsive-grid py-5">
                     @foreach (var entry in contentVideos.Take(6).Select((video, i) => new { video, i }))
                    {
                        var showDivider = ((entry.i + 1) % 3) == 0;
                        <MudItem xs="12" sm="6" md="4"> 
                        <div class="card-with-divider" @onclick="@(() => PlayVideo(entry.video))">
                            <VideoCard video="@entry.video" />
                             @if (!showDivider)
                            {
                                <MudHidden xs="true" sm="true">
                                    <div style="width: 1px; height: auto; background-color: #F0F0F0; align-self: stretch; margin: 0 14px"></div>
                                </MudHidden>
                            } 
                        </div>      
                        </MudItem>
                    }
                    </MudGrid>
                    </div>

         </div>
</div>
<style>
    .max-container {
        max-width: 1170px;
        margin: 0 auto;
        width: 100%;
    }
     .max-carousel-container {
        max-width: 1170px;
        margin: 0 auto;
        width: 100%;
        margin-bottom: 40px;
    }
    .news-container {
        width: 100%;
        box-sizing: border-box;
        background-color: #FAFAFA;
        padding-left: 0;
        padding-right: 0;
    }
    .section-title {
        width: 100%;
        order: 0;
        font-family: 'Public Sans', sans-serif;
        font-size: 25px;
        font-weight: 600;
        color: var(--color-text-heading);
    }
     .section-heading {
        display: flex;
        align-items: center;
        font-family: 'Public Sans', sans-serif;
        font-size: 40px;
        font-weight: 700;
        color: var(--color-text-heading);
    }

    .accent-bar {
        display: inline-block;
        width: 6px;
        height: 47px;
        background-color: var(--color-primary);
        margin-right: 8px;
    }
    .card-with-divider {
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: stretch;
    }


    @@media (max-width: 600px) {
        .max-carousel-container {
            margin: 0 auto;
            width: 100%;
        }
    }
</style>
