@page "/qln/classifieds/deals/details/preview"
@using MudBlazor
@inherits DealsPreviewBase
<div class="deal-details-container">
 <div class="deal-max-container">
    <a href="/qln/classifieds/deals" class="back-link">
     <MudIcon Icon="@Icons.Material.Filled.KeyboardArrowLeft"
                    Class="back-to-login-icon" />
    <span class="back-text">Back to Deals</span>
</a>
    <div class="carousel-wrapper">
        @if (currentIndex > 0)
        {
            <MudIconButton Icon="@Icons.Material.Filled.ChevronLeft"
                       Class="nav-button-inline"
                       OnClick="@PreviousImage" />
        }

        <div class="desktop-only">
            <div style="display: flex; flex-direction: column;">
                <img src="@imageUrls[currentIndex]"
                alt="Deal Image"
                class="carousel-image-inline" />

                <div class="mobile-store-center-info">
                    <div class="store-location">
                        Page @(currentIndex + 1) out of @imageUrls.Count
                    </div>
                    <div class="store-location">Al Sadd, Wefyfyst Bay, Dukhan, Mansoura</div>
                </div>
            </div>
        </div>
        @if (currentIndex < imageUrls.Count - 1)
        {
            <MudIconButton Icon="@Icons.Material.Filled.ChevronRight"
                       Class="nav-button-inline"
                       OnClick="@NextImage" />
        }
    </div>


<div class="mobile-only">
    <MudCarousel 
    ShowArrows="false"
    ShowBullets="false"
    EnableSwipeGesture="true"
    AutoCycle="false"
    TData="string"
    Class="mud-width-full"
    Style="height: 467px; width: 100%;"
     ActiveIndex="@currentIndex"
    ActiveIndexChanged="@OnImageChanged">
    
    @foreach (var imageUrl in imageUrls)
    {
        <MudCarouselItem>
            <img src="@imageUrl"
                 alt="Deal Image"
                 style="width: 100%; height: 467px;" />
        </MudCarouselItem>
    }
</MudCarousel>

    <div class="mobile-store-center-info mt-1" style="padding-bottom: 100px;">
        Page @(currentIndex + 1) out of @imageUrls.Count
        <div class="store-location">Al Sadd, Wefyfyst Bay, Dukhan, Mansoura</div>
    </div>
</div>
    <div class="deal-footer">
        <div class="footer-left">
            <img src="qln-images/stores/hypermarket.svg" alt="Store Logo" class="store-logo" />
            <div class="store-info">
                <div class="store-name">Lulu Hypermarket</div>
                <div class="store-meta">Ramadan Savers · End in 2 Days</div>
            </div>
        </div>
        <div class="store-center-info">
                <div class="store-location">Page @(currentIndex + 1) out of @imageUrls.Count</div>
                <div class="store-location">Al Sadd, West Bay, Dukhan, Mansoura</div>
        </div>

        <div class="footer-right">
            <MudButton 
                       Variant="Variant.Filled"
                       Color="Color.Primary"
                       Style="border-radius: 20px; text-transform: none; font-size: 14px; 
           font-family: 'Public Sans', sans-serif;
           font-weight: 500; "
                       Href="https://luluwebsite.com"
                       Target="_blank">
                       <StartContent>
                        <img src="qln-images/classifieds/world_outline.svg" alt="World" style="width: 20px; height: 20px; margin-right: 8px;" />
                        </StartContent>
                Visit Website
            </MudButton>
        </div>
    </div>
    </div>
</div>

<style>
    .deal-details-container {
    background-color: var(--color-secondary-background);
    width: 100%;
    align-items: center;
}
.deal-max-container{
        max-width: 1170px;
        margin: 0 auto;
        width: 100%;
        padding: 20px 20px;
    }

.carousel-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 16px;
    padding: 0;
    gap: 24px;
}

.carousel-image-inline {
    max-height: 688px;
    object-fit: contain;
    flex-shrink: 1;
    width: 100%;
    max-width: 540px;
}
.mobile-only {
    display: none;
}

.nav-button-inline {
    background-color: var(--color-accent); 
    color: white; /* White icon */
    border-radius: 6px;
    min-width: 38px;
    min-height: 74px;
    width: 38px;
    height: 74px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
}

.deal-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    background-color: #FFFFFF;
}

.footer-left {
    display: flex;
    align-items: center;
    gap: 12px;
    @* flex: 1; *@
}


.store-logo {
    width: 50px;
    height: 50px;
    object-fit: contain;
    border-radius: 50%;
    background: white;
    padding: 6px;
}

.store-info {
    display: flex;
    flex-direction: column;
    font-size: 14px;
}
 .back-to-login-icon {
        color: var(--color-primary);
        font-size: 20px;
        margin-right: 4px;
    }

.store-name {
    font-weight: 600;
    font-size: 16px;
    color: var(--color-primary);
}

.store-meta {
    font-weight: 400;
    font-size: 12px;
    color: var(#242424);
}

.store-location {
    font-size: 13px;
    color: var(--mud-palette-text-secondary);
}

.footer-right {
    flex-shrink: 0;
}
.back-link {
    display: inline-flex;
    align-items: center;
    font-weight: 600;
    font-size: 14px;
    color: var(--color-primary);
    text-decoration: none;
    position: relative;
}

.back-icon {
    font-size: 20px;
    margin-right: 4px;
}
 .custom-carousel-wrapper {
        @* position: relative;
        width: 100%;
        max-width: 100%;
        display: flex;
        align-items: center;
        justify-content: center; *@
    }

    .custom-carousel-image {
        width: 100%;
        max-height: 688px;
        object-fit: contain;
        border-radius: 6px;
        display: block;
    }

    .nav-button {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background-color: white;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
        border-radius: 50%;
        z-index: 2;
    }

    .nav-button.left {
        left: 12px;
    }
    .store-center-info {
        flex: 1; 
        display: flex; 
        flex-direction: column; 
        align-items: center;

        }

    .nav-button.right {
        right: 12px;
    }
    .mobile-store-center-info{
         display: none;
    }
    @@media (max-width: 768px) {
        .mobile-only {
        display: block !important;
    }
    .desktop-only {
        display: none !important;
    }
    .store-center-info {
        display: none !important;
    }
    .mobile-store-center-info{
         display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 12px;
    }
    .store-name {
        font-weight: 600;
        font-size: 14px;
        color: var(--color-primary);
    }
    .nav-button-inline {
        display: none !important;
    }
    .store-meta {
        font-weight: 400;
        font-size: 10px;
        color: var(#242424);
    }
    .deal-max-container {
    max-width: 1170px;
    margin: 0 auto;
    width: 100%;
    padding: 0;
    }
}


</style>