@using Microsoft.Extensions.Options
@using QLN.Web.Shared.Services
@using QLN.Web.Shared.Components.NewLetterSubscription

@inject IOptions<NavigationPath> options
@{
    var navigationPath = options.Value;
}


<div class="footer-main">
    <div class="container">
        <div class="footer-top">
            <div class="footer-inline footer-col-341">
                <div class="footer-column footer-col-full">
                    <div class="footer-flex-between">
                        <div class="footer-col-vertical">
                            <h4>Explore</h4>
                            <div class="footer-links-col">
                                <a id="footerPropertiesLink" href="@navigationPath.Properties">Properties</a>
                                <a id="footerVehiclesLink" href="@navigationPath.Vehicles">Vehicles</a>
                                <a id="footerClassifiedsLink" href="@navigationPath.Classifieds">Classifieds</a>
                                <a id="footerServicesLink" href="@navigationPath.Services">Services</a>
                                <a id="footerJobsLink" href="@navigationPath.Jobs">Jobs</a>
                                <a id="footerRewardsLink" href="@navigationPath.Rewards">Rewards</a>
                                @* <a id="footerSubcriptionsLink" class="premium" href="@navigationPath.Subscription">Premium subscriptions</a> *@
                            </div>
                        </div>
                        <div class="footer-col-vertical">
                            <h4>Other</h4>
                            <div class="footer-links-col">
                                <a href="/content/news">News</a>
                                <a href="/content/events">Events</a>
                                <a href="/content/community">Community</a>
                                @* <a href="#">Business pages</a>
                                <a href="@navigationPath.eShops">eShops</a> *@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @* <div class="footer-column">
            </div> *@
            <div class="footer-inline footer-col-435">
                <div class="footer-column footer-col-full">
                    <p>Want to advertise on Qatar Living?</p>
                    <p><strong>Take a look at our <a class="orange-link" href="#">Advertise page</a></strong></p>
                    <NewLetterSubscription/>
                </div>
            </div>
            <div class="footer-inline footer-col-135">
                <div class="footer-column footer-apps footer-col-full">
                    @if (DarkMode)
                    {
                        <img src="/qln-images/dark_mode_logo.svg" alt="Qatar Living" width="132.5" height="40.33" class="logo" />
                    }
                    else
                    {
                        <img src="/qln-images/new_qatar_logo.png" alt="Qatar Living" width="132.5" height="40.33" class="logo" />
                    }
                    <p>Our Mobile App</p>
                    <div class="store-badges">
                        <a href="@navigationPath.GoogleStore" target="_blank" rel="noopener">
                            <img src="/qln-images/google_play_logo.svg" class="store-badge" alt="Get it on Google Play" />
                        </a>
                        <a href="@navigationPath.AppleStore" target="_blank" rel="noopener">
                            <img src="/qln-images/app_store_logo.svg" class="store-badge" alt="Download on the App Store" />
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <hr />
        <div class="footer-bottom">
            <div class="footer-link">
                <div class="footer-links">
                    <a href="@navigationPath.AdvertisingTerms">Advertising Terms</a>
                    <a href="@navigationPath.TermsOfUse">Website Terms</a>
                    <a href="@navigationPath.PostingRules">Rules for posting ads</a>
                    <a href="@navigationPath.HelpLink">Help</a>
                </div>
                <p class="footer-copyright">Copyright © 2024 Qatar Living. All rights reserved.</p>
            </div>
            <div class="footer-social">
                <p>Let's stay connected</p>
                <div class="social-icons">
                    <a href="@navigationPath.SocialFacebook" target="_blank" rel="noopener noreferrer">
                        <img src="/qln-images/facebook_logo.svg" alt="Facebook" class="social-icon" />
                    </a>
                    <a href="@navigationPath.SocialTwitter" target="_blank" rel="noopener">
                        <img src="/qln-images/twitter.svg" alt="Twitter" class="social-icon" />
                    </a>
                    <a href="@navigationPath.SocialInstagram" target="_blank" rel="noopener">
                        <img src="/qln-images/instagram.svg" alt="Instagram" class="social-icon" />
                    </a>
                    <a href="@navigationPath.SocialSnapChat" target="_blank" rel="noopener">
                        <img src="/qln-images/snapchat.svg" alt="Snapchat" class="social-icon" />
                    </a>
                    <a href="@navigationPath.SocialLinkedIn" target="_blank" rel="noopener">
                        <img src="/qln-images/linkedin.svg" alt="LinkedIn" class="social-icon" />
                    </a>
                    <a href="@navigationPath.SocialYouTube" target="_blank" rel="noopener">
                        <img src="/qln-images/youtube.svg" alt="YouTube" class="social-icon" />
                    </a>
                    <a href="@navigationPath.SocialTikTok" target="_blank" rel="noopener">
                        <img src="/qln-images/tiktok.svg" alt="TikTok" class="social-icon" />
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter] public bool DarkMode { get; set; }
}

