@inherits DealsTableBase
@using QLN.ContentBO.WebUI.Components.ToggleTabs
@using MudBlazor
@using QLN.ContentBO.WebUI.Components.PaginationFooter

<MudPaper Class="pa-4">
    <ToggleTabs Options="@tabOptions"
                ActiveValue="@selectedTab"
                OnChange="@OnTabChanged" />

    <div class="tab-content">
        @if (SelectedListings.Count > 0)
        {
            <div class="action-buttons">
                @if (selectedTab == "pendingApproval")
                {
                    <MudButton Class="capitalize-button" Color="Color.Success" Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Check"
                               OnClick='() => ShowConfirmation("Approve Items", "Are you sure you want to approve selected Items?", "Approve", ApproveSelected)'>
                        Approve
                    </MudButton>
                }
                else if (selectedTab == "published")
                {
                    <MudButton Class="capitalize-button" Color="Color.Primary" Variant="Variant.Filled" StartIcon="@Icons.Material.Outlined.VisibilityOff"
                               OnClick='() => ShowConfirmation("Unpublish Items", "Are you sure you want to unpublish selected Items?", "Unpublish", UnpublishSelected)'>
                        Unpublish
                    </MudButton>
                    <MudButton Class="capitalize-button" Color="Color.Error" Variant="Variant.Filled" StartIcon="@Icons.Material.Rounded.Close"
                               OnClick='() => ShowConfirmation("Remove Items", "Are you sure you want to remove selected Items?", "Remove", RemoveSelected)'>
                        Remove
                    </MudButton>
                }
                else if (selectedTab == "unpublished")
                {
                    <MudButton Class="capitalize-button" Color="Color.Primary" Variant="Variant.Filled" StartIcon="@Icons.Material.Outlined.RemoveRedEye"
                               OnClick='() => ShowConfirmation("Publish Items", "Are you sure you want to publish selected Items?", "Publish", PublishSelected)'>
                        Publish
                    </MudButton>
                    <MudButton Class="capitalize-button" Color="Color.Error" Variant="Variant.Filled" StartIcon="@Icons.Material.Rounded.Close"
                               OnClick='() => ShowConfirmation("Remove Items", "Are you sure you want to remove selected Items?", "Remove", RemoveSelected)'>
                        Remove
                    </MudButton>
                }

                @if (selectedTab == "promoted")
                {
                    <MudButton Class="capitalize-button" Color="Color.Primary" Variant="Variant.Filled"
                               OnClick='() => ShowConfirmation("Unpromote Items", "Are you sure you want to unpromote selected Items?", "Unpromote", UnpromoteSelected)'>
                        Unpromote
                    </MudButton>
                }

                @if (selectedTab == "featured")
                {
                    <MudButton Class="capitalize-button" Color="Color.Primary" Variant="Variant.Filled"
                               OnClick='() => ShowConfirmation("Unfeature Items", "Are you sure you want to unfeature selected Items?", "Unfeature", UnfeatureSelected)'>
                        Unfeature
                    </MudButton>
                }

                @if (selectedTab == "p2p" || selectedTab == "promoted" || selectedTab == "featured")
                {
                    <MudButton Class="capitalize-button" Color="Color.Error" Variant="Variant.Filled" StartIcon="@Icons.Material.Rounded.Close"
                               OnClick='() => ShowConfirmation("Remove Items", "Are you sure you want to remove selected Items?", "Remove", RemoveSelected)'>
                        Remove
                    </MudButton>
                }
            </div>

            <div class="alert-container">
                <MudIcon Icon="@Icons.Material.Filled.CheckCircle" Color="Color.Primary" />
                @($"{SelectedListings.Count} item(s) selected.")
            </div>
        }
    </div>

    <MudTable Items="Listings"
              Hover="true"
              Bordered="true"
              Elevation="0"
              MultiSelection="true"
              RowCheckBoxVisible="true"
              @bind-SelectedItems="SelectedListings"
              Class="mud-table event-custom-table">

        <HeaderContent>
            <MudTh class="header-cell">Item image</MudTh>
            <MudTh class="header-cell">Ad ID</MudTh>
            <MudTh class="header-cell">Ad Title</MudTh>
            <MudTh class="header-cell">User Id</MudTh>
            <MudTh class="header-cell">User Name</MudTh>
            <MudTh class="header-cell">Category</MudTh>
            <MudTh class="header-cell">Sub Category</MudTh>
            <MudTh class="header-cell">Section</MudTh>
            <MudTh class="header-cell">Creation Date</MudTh>
            <MudTh class="header-cell">Date Published</MudTh>
            <MudTh class="header-cell">Date Expiry</MudTh>
            <MudTh class="header-cell">Actions</MudTh>
        </HeaderContent>

        <RowTemplate>
            <MudTd>
                <img src="@context.ImageUrl" style="width: 64px; height: 64px; object-fit: cover; border-radius: 4px;" />
            </MudTd>
            <MudTd><MudLink Href="#">@context.AdId</MudLink></MudTd>
            <MudTd><MudLink Href="#">@context.AdTitle</MudLink></MudTd>
            <MudTd>@context.InternalUserId</MudTd>
            <MudTd>@context.UserName</MudTd>
            <MudTd>@context.Category</MudTd>
            <MudTd>@context.SubCategory</MudTd>
            <MudTd>@context.Section</MudTd>
            <MudTd>@context.CreationDate.ToString("dd-MM-yyyy")</MudTd>
            <MudTd>@context.PublishedDate.ToString("dd-MM-yyyy")</MudTd>
            <MudTd>@context.ExpiryDate.ToString("dd-MM-yyyy")</MudTd>
            <MudTd>
                <MudMenu Class="mud-table-menu" Icon="@Icons.Material.Filled.MoreVert" Dense="true">
                     @if (selectedTab != "pendingApproval")
                    {
                    <MudMenuItem OnClick="() => OnEdit(context)">
                         <img src="/qln-images/edit_dark_icon.svg" class="menu-icon-style" alt="Ignore" />
                         <span class="menu-text">Edit</span>
                    </MudMenuItem>
                    <MudMenuItem OnClick="() => OnPreview(context)">
                        <img src="/qln-images/preview_icon.svg" class="menu-icon-style" alt="Ignore" />
                        <span class="menu-text">Preview</span>
                    </MudMenuItem>
                    }

                    @if (selectedTab == "pendingApproval")
                    {
                        <MudMenuItem OnClick='() => ShowConfirmation("Approve Item", "Are you sure you want to approve this item?", "Approve", () => Approve(context))'>
                            <img src="/qln-images/approve_icon.svg" class="menu-icon-style" alt="Ignore" />
                            <span class="menu-text">Approve</span>
                        </MudMenuItem>
                        <MudMenuItem OnClick='() => ShowConfirmation("Need Changes", "Request changes?", "Request", () => RequestChanges(context))'>
                             <img src="/qln-images/remove_icon.svg" class="menu-icon-style" alt="Ignore" />
                            <span class="menu-text">Need Changes</span>
                        </MudMenuItem>
                    }
                    else if (selectedTab == "published")
                    {
                        <MudMenuItem OnClick='() => ShowConfirmation("Unpublish Item", "Are you sure you want to unpublish this item?", "Unpublish", () => Unpublish(context))'>
                            <img src="/qln-images/eye_close_icon.svg" class="menu-icon-style" alt="Ignore" />
                            <span class="menu-text">Unpublish</span>
                        </MudMenuItem>
                        <MudMenuItem OnClick='() => ShowConfirmation("Remove Item", "Are you sure you want to remove this item?", "Remove", () => OnRemove(context))'
                                     Class="mud-text-error">
                             <img src="/qln-images/remove_icon.svg" class="menu-icon-style" alt="Ignore" />
                            <span class="menu-text">Remove</span>
                        </MudMenuItem>
                    }
                    else if (selectedTab == "unpublished")
                    {
                        <MudMenuItem OnClick='() => ShowConfirmation("Publish Item", "Are you sure you want to publish this item?", "Publish", () => Publish(context))'>
                             <img src="/qln-images/eye_icon.svg" class="menu-icon-style" alt="Ignore" />
                             <span class="menu-text">Publish</span>
                        </MudMenuItem>
                        <MudMenuItem OnClick='() => ShowConfirmation("Remove Item", "Are you sure you want to remove this item?", "Remove", () => OnRemove(context))'
                                     Class="mud-text-error">
                            <img src="/qln-images/remove_icon.svg" class="menu-icon-style" alt="Ignore" />
                            <span class="menu-text">Remove</span>
                        </MudMenuItem>
                    }
                    else if (selectedTab == "p2p" || selectedTab == "promoted" || selectedTab == "featured")
                    {
                        <MudMenuItem OnClick='() => ShowConfirmation("Remove Item", "Are you sure you want to remove this item?", "Remove", () => OnRemove(context))'
                                     Class="mud-text-error">
                            <img src="/qln-images/remove_icon.svg" class="menu-icon-style" alt="Ignore" />
                            <span class="menu-text">Remove</span>
                        </MudMenuItem>
                    }
                </MudMenu>
            </MudTd>
        </RowTemplate>
    </MudTable>
     <PaginationFooter TotalItems="@TotalCount" CurrentPage="@currentPage" PageSize="@pageSize"
                OnPageChange="@HandlePageChange" OnPageSizeChange="@HandlePageSizeChange" />
</MudPaper>
