@page "/manage/news/editarticle/{ArticleId:Guid}"
@inherits EditArticleBase

<MudContainer MaxWidth="MaxWidth.False">
    <EditForm Model="@article" OnValidSubmit="HandleValidSubmit">
        <DataAnnotationsValidator />
        <MudGrid GutterSize="24px">
            <!-- Left Column -->
            <MudItem xs="12" md="7">
                <MudText Class="mb-4 title-style">Edit Article Form</MudText>

                <MudGrid GutterSize="16px" Class="mb-4">
                    <MudItem xs="4">
                        <MudSelect T="int" @bind-Value="Category.CategoryId" Class="w-100" Variant="Variant.Filled" Label="Category" Placeholder="Choose" For="@(() => Category.CategoryId)">
                            <MudSelectItem Value="@(0)">Choose</MudSelectItem>
                            @foreach (var item in Categories)
                            {
                                <MudSelectItem Value="@item.Id">@item.CategoryName</MudSelectItem>
                            }
                        </MudSelect>
                    </MudItem>

                    <MudItem xs="4">
                        <MudSelect T="int" @bind-Value="Category.SubcategoryId" Class="w-100" Variant="Variant.Filled" Label="Subcategory" Placeholder="Choose" Disabled="@(Category.CategoryId == 0)" For="@(() => Category.SubcategoryId)">
                            <MudSelectItem Value="@(0)">Choose</MudSelectItem>
                            @foreach (var item in Categories.Where(c => c.Id == Category.CategoryId)?.FirstOrDefault()?.SubCategories ?? [])
                            {
                                <MudSelectItem Value="@item.Id">@item.SubCategoryName</MudSelectItem>
                            }
                        </MudSelect>
                    </MudItem>

                    <MudItem xs="3">

                        <MudSelect T="int" @bind-Value="Category.SlotId" Class="w-100" Variant="Variant.Filled" Placeholder="Slot" Disabled="@(Category.SubcategoryId == 0)" For="@(() => Category.SlotId)">
                            <MudSelectItem Value="@(0)">Choose</MudSelectItem>
                            @foreach (var item in Slots)
                            {
                                <MudSelectItem Value="@item.Id">@item.Name</MudSelectItem>
                            }
                        </MudSelect>
                    </MudItem>

                    <MudItem xs="1" Class="d-flex align-center">
                        <MudTooltip Text="Add">
                            <MudIconButton OnClick="AddCategory" Icon="@Icons.Material.Filled.Add" Class="rounded-circle" Variant="Variant.Outlined" Color="Color.Primary" Size="Size.Medium" Disabled="@(Category.CategoryId == 0 || Category.SubcategoryId == 0)" />
                        </MudTooltip>
                    </MudItem>
                </MudGrid>

                @foreach (var category in TempCategoryList)
                {

                    <MudGrid GutterSize="16px" Class="mb-4">
                        <MudItem xs="4">
                            <MudSelect T="int" Class="w-100" Variant="Variant.Filled" Label="Category" Disabled="true">
                                <MudSelectItem Value="@(0)">@Categories.FirstOrDefault(c => c.Id == category.CategoryId)?.CategoryName</MudSelectItem>
                            </MudSelect>
                        </MudItem>

                        <MudItem xs="4">
                            <MudSelect T="int" Class="w-100" Variant="Variant.Filled" Label="Subcategory" Disabled="true">
                                <MudSelectItem Value="@(0)">@GetSubCategoryName(category.CategoryId, category.SubcategoryId)</MudSelectItem>
                            </MudSelect>
                        </MudItem>

                        <MudItem xs="3">
                            <MudSelect T="int" Class="w-100" Variant="Variant.Filled" Placeholder="Slot" Disabled="true">
                                <MudSelectItem Value="@(0)">@Slots.FirstOrDefault(s => s.Id == category.SlotId)?.Name</MudSelectItem>
                            </MudSelect>
                        </MudItem>

                        <MudItem xs="1" Class="d-flex align-center">
                            <MudTooltip Text="Remove">
                                <MudIconButton OnClick="@(() => RemoveCategory(category))" Icon="@Icons.Material.Filled.Remove" Class="rounded-circle" Variant="Variant.Outlined" Color="Color.Primary" Size="Size.Medium" Disabled="@(TempCategoryList.Count() <= MinCategory)" />
                            </MudTooltip>
                        </MudItem>
                    </MudGrid>

                }

                <MudSelect T="string" @bind-Value="article.WriterTag" Label="Writer" Variant="Variant.Filled" Placeholder="Choose" Class="mt-4 w-100" For="@(() => article.WriterTag)">
                    @foreach (var item in WriterTags)
                    {
                        <MudSelectItem Value="@item">@item</MudSelectItem>
                    }
                </MudSelect>

                <MudTextField Label="Article Title" Variant="Variant.Filled" Class="mt-4 w-100" @bind-Value="article.Title" For="@(() => article.Title)" />

                <MudText Typo="Typo.body2" Class="mt-4 mb-1">Article content</MudText>
                <MudExRichTextEdit @bind-Value="article.Content" @ref="@Editor"
                                   Height="444"
                                   Class="m-2"
                                   Placeholder="Start Typing"
                                   For="@(() => article.Content)">
                </MudExRichTextEdit>
                <MudStack Row Class="mt-6 justify-content-between">
                    <MudButton Class="action-btn rounded-lg" Variant="Variant.Filled" Color="Color.Default" OnClick="@Cancel">Cancel</MudButton>
                    <MudButton Class="ml-2 rounded-lg action-btn" ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary">Save</MudButton>
                </MudStack>
            </MudItem>

            <!-- Right Column -->
            <MudItem xs="12" md="5">
                <MudText Class="mb-4 title-style">Images</MudText>

                <!-- Cover Image Upload -->
                <MudFileUpload T="IBrowserFile" Accept="image/*" OnFilesChanged="@(e => HandleFilesChanged(e))" MaximumFileCount="1" MaxFileSize="10485760">
                    <ActivatorContent>
                        <MudPaper Class="pa-6 d-flex flex-column align-center justify-center" Style="min-height: 200px; border: 1px dashed #ccc; cursor: pointer;">
                            <MudIcon Icon="@Icons.Material.Filled.CloudUpload" Size="Size.Large" Color="Color.Primary" />
                            <div class="mt-2" style="color: #ff5722;">Cover Image</div>
                            <MudText Typo="Typo.caption" Class="mt-2">Recommended image size: 1600 x 900 pixels</MudText>
                        </MudPaper>

                        @if (!string.IsNullOrEmpty(article.CoverImageUrl))
                        {
                            <img src="@article.CoverImageUrl" alt="Cover Image Preview" style="width: 100%; max-height: 200px; object-fit: cover;" />

                        }

                    </ActivatorContent>
                </MudFileUpload>

            </MudItem>
        </MudGrid>
    </EditForm>
</MudContainer>


<style>
    .action-btn {
        height: 40px;
        width: 230px;
    }

    .title-style {
        font-family: 'Public Sans', sans-serif;
        font-size: 18px;
        font-weight: 600;
        color: #00426D;
        text-transform: none;
    }

</style>