@page "/signup"
@inject ISnackbar Snackbar
@inject NavigationManager NavManager
@inject ApiService Api
@using QLN.Blazor.Base.Services
@using QLN.Blazor.Base.Components
@inject UserState UserState
@using MudBlazor
@using MudBlazor.Components
@using System.ComponentModel.DataAnnotations;
@rendermode InteractiveServer
@using QLN.Blazor.Base.Models
@using QLN.Web.Shared.Components.CustomButton
@using QLN.Web.Shared.Components.ModalDialog
@using QLN.Web.Shared.Components.PasswordStrengthIndicator
@using System.Text.RegularExpressions;
@using QLN.Blazor.Base.Models;
@using System.Net.Http;
@using System.Text.Json;
@inject IDialogService DialogService
@inject HttpClient Http

@if (_showVerificationPopup)
{
     <div class="popup-overlay">
        <VerificationPopup ShowSuccess="@showVerificationSuccess" _showMobileVerificationSuccess="@showMobileVerificationSuccess" isEmail="@isEmail" email="@email" OnClose="CloseVerificationPopup" /> 
    </div> 
    
}
@if (signUpSucesss){
    <div class="popup-overlay">
       <ModalDialog 
        Title="Account Created!" 
        Description="Account created successfully"
        ButtonName="Continue"
        StatusType="Success"
        OnClick="CloseSuccessPopup" />
    </div> 
}
<div style="width: 100%; background-color: #F5F6FA; padding: 32px 16px;">
    <div style="max-width: 400px; margin: 0 auto;">
    <MudText Typo="Typo.h4" Align="Align.Center" Class="mb-6" Style="font-weight: 700;">
        Create Account
    </MudText>


<MudForm @ref="_form" Model="@_model" OnValidSubmit="SubmitSignup">

        <MudText Typo="Typo.body1"  Style="font-weight: 400;">
        First Name
        </MudText>

               <MudTextField T="string"
                  For="@(() => _model.FirstName)"
                  Label="First Name"
                  Immediate="true"
                  Variant="Variant.Outlined"
                  Class="mud-text-field-custom"
                  MaxLength="10"
                  FullWidth="true"
                   />
        <MudText Typo="Typo.body1"  Style="font-weight: 400;">
        Last Name
        </MudText>
         <MudTextField T="string"
              Label="Last Name"
              For="@(() => _model.LastName)"
              Variant="Variant.Outlined"
              Immediate="true"
              MaxLength="10"
              FullWidth="true"
              Class="mud-text-field-custom" />
        <MudText Typo="Typo.body1"  Style="font-weight: 400;">
        Username
        </MudText>
        <MudTextField T="string"
              Label="Username"
              For="@(() => _model.UserName)"
              Variant="Variant.Outlined"
              MaxLength="10"
              FullWidth="true"
              Immediate="true"
              Class="mud-text-field-custom" />
              
    <MudText Typo="Typo.body1"  Style="font-weight: 400;">
        Email
     </MudText>
   
<MudPaper Class="phone-container pa-4" Elevation="0" Style="border: 1px solid #ccc; border-radius: 8px;">
    <div class="phone-flex">

        <MudTextField T="string"
              Label="Email Address"
              For="@(() => _model.EmailAddress)"
              MaxLength="10"
              FullWidth="true"
              Immediate="true"
              Class="phone-input" />

        @if (showVerificationSuccess)
        {
            @if (isEmail){
            <MudText Typo="Typo.body1" Style="font-weight: 400; color: #079455;">
            Verified
            </MudText>
            }
        }
        else
        {
            <MudButton Variant="Variant.Filled" Color="Color.Warning" OnClick="OnVerifyEmailClicked" Class="verify-button" Style="background-color: #FF7F38; color: white;">
                Verify
            </MudButton>
        }

    </div>
</MudPaper>
@* <ValidationMessage For="@(() => _model.EmailAddress)" /> *@

        <MudText Typo="Typo.body1"  Style="font-weight: 400;">
        Phone Number
        </MudText>

        <MudPaper Class="phone-container pa-4" Elevation="0" Style="border: 1px solid #ccc; border-radius: 8px;">
    <div class="phone-flex">
        <MudSelect T="CountryModel" @bind-Value="SelectedCountry" Class="country-select" DisableUnderline="true" Style="width: 120px;">
            <MudSelectItem Value="@SelectedCountry">
        <img src="@SelectedCountry.Flag" style="width:24px; height:16px; margin-right:5px;" />
        @SelectedCountry.Code
    </MudSelectItem>
            @foreach (var country in countryList)
            { 
                <MudSelectItem Value="@country">
                    <img src="@country.Flag" style="width:24px; height:16px; margin-right:5px;" />
                    @country.Code
                </MudSelectItem>
            }
        </MudSelect>
        
        <MudTextField T="string"
              Label="Phone number"
              For="@(() => _model.MobileNumber)"
              MaxLength="10"
              FullWidth="true"
              StartAdornment="@SelectedCountry.Code" 
              Immediate="true"
              />

         @if (showMobileVerificationSuccess)
        {
            @if (!isEmail){
            <MudText Typo="Typo.body1" Style="font-weight: 400; color: #079455;">
            Verified
            </MudText>
            }
        }
        else
        {              

        <MudButton Variant="Variant.Filled" 
                   Color="Color.Warning" 
                   OnClick="OnVerifyPhoneClicked" 
                   Class="verify-button" 
                   Style="background-color: #FF7F38; color: white;">
            Verify
        </MudButton> 
        }
    </div>
</MudPaper>

        <MudText Typo="Typo.body1"  Style="font-weight: 400;">
        Date of Birth
        </MudText>
              <MudDatePicker @bind-Date="_dateOfBirth"
               T="DateTime?"
               Label="Date of Birth"
               Variant="Variant.Outlined"
               Required="true"
               Style="background-color: #FFFFFF;"
               RequiredError="Date of Birth is required"
               PickerVariant="PickerVariant.Inline"
               Class="mt-4" />
        <MudText Typo="Typo.body1"  Style="font-weight: 400;">
        Nationality
        </MudText>
        <MudSelect T="string"
           Label="Nationality"
           Variant="Variant.Outlined"
           Dense="false"
           FullWidth="true"
           @bind-Value="_model.Nationality"
           Style="background-color: #FFFFFF;"
           DisableUnderline="true"
           Class="mt-4">
    @foreach (var country in countryList)
    {
        <MudSelectItem T="string" Value="@country.Name">@country.Name</MudSelectItem>
    }
</MudSelect>
<MudText Typo="Typo.body1"  Style="font-weight: 400;">
        Language
        </MudText>
<MudSelect T="string"
           Label="Language"
           Variant="Variant.Outlined"
           Dense="false"
           FullWidth="true"
           @bind-Value="_model.LanguagePreferences"
           DisableUnderline="true"
           Class="mt-4 mud-text-field-custom">
    @foreach (var country in languageOptions)
    {
        <MudSelectItem T="string" Value="@country">@country</MudSelectItem>
    }
</MudSelect>


<MudText Typo="Typo.body1"  Style="font-weight: 400;">
        Password
</MudText>
<MudTextField T="string"
              Label="Password"
              Variant="Variant.Outlined"
              MaxLength="10"
              InputType="@(_showPassword ? InputType.Text : InputType.Password)"
              FullWidth="true"
              Class="mud-text-field-custom"
              OnInput="@OnPasswordInput"
              @bind-Value="_model.Password"
              Immediate="true"
              Required="true"
              For="@(() => _model.Password)"
              Adornment="Adornment.End"
              AdornmentIcon="@(_showPassword ? Icons.Material.Filled.Visibility : Icons.Material.Filled.VisibilityOff)"
              OnAdornmentClick="TogglePasswordVisibility"
              AdornmentColor="Color.Default" />



    <PasswordStrengthIndicator Password="@_model.Password" />


<MudText Typo="Typo.body1"  Style="font-weight: 400;">
        Comnfirm Password
</MudText>


              <MudTextField T="string"
              Label="Confirm Password"
              Variant="Variant.Outlined"
              MaxLength="10"
              InputType="@(_showConfirmPassword ? InputType.Text : InputType.Password)"
              FullWidth="true"
              Class="mt-4 mud-text-field-custom"
              @bind-Value="_confirmPassword"
              Required="true"
              RequiredError="Please confirm your password"
              For="@(() => _confirmPassword)"
              Adornment="Adornment.End"
              AdornmentIcon="@(_showConfirmPassword ? Icons.Material.Filled.Visibility : Icons.Material.Filled.VisibilityOff)"
              OnAdornmentClick="ToggleConfirmVisibility"
              AdornmentColor="Color.Default" />

        <MudCheckBox @bind-Value="_model.AggreeToTerms" Label="">
        <LabelContent>
            I agree to the 
            <MudText Link="true" Style="color: #FF7F38;" Class="ml-1 mr-1 d-inline">Terms and Conditions</MudText>
            and 
            <MudText Link="true" Style="color: #FF7F38;" Class="ml-1 d-inline">Privacy Policy</MudText>
        </LabelContent>

    </MudCheckBox>
    @if (showAgreeTermsError)
{
    <MudText Color="Color.Error" Class="mt-2" Typo="Typo.caption">
        You must agree to the terms and conditions to proceed.
    </MudText>
}
    <MudCheckBox T="bool" Label="Enable Two-Factor Authentication" Class="mt-3" @bind-Checked="EnableTwoFactor" />
    <MudCheckBox T="bool" Label="I want to receive marketing emails and offers" Class="mt-2" @bind-Checked="MarketingOptIn" />

    
    <CustomButton 
    BackgroundColor="#FF7F38"
    TextColor="#FFFFFF"
    Text="Sign In"
    Disabled="_loading"
    Loading="_loading"
    OnClick="@SubmitSignup"
    Class="mt-4" />

    <div class="d-flex align-center my-4">
        <div style="flex-grow: 1; height: 1px; background-color: #ccc;"></div>
        <MudText Typo="Typo.caption" Class="mx-2">Or continue with</MudText>
        <div style="flex-grow: 1; height: 1px; background-color: #ccc;"></div>
    </div>



<MudGrid Justify="Justify.SpaceEvenly" GutterSize="12px" Class="mt-4">
    <MudItem xs="2">
        <MudButton Variant="Variant.Outlined" Style="background-color: #FFFFFF; border-color: #DDDDDD; height: 44px; width: 78px; border-radius: 8px; min-width: 50px; padding: 0;">
            <img src="images/google.svg" alt="Google" style="height: 24px;" />
        </MudButton>
    </MudItem>
    <MudItem xs="2">
        <MudButton Variant="Variant.Outlined" Style="background-color: #FFFFFF; border-color: #DDDDDD; height: 44px; width: 78px; min-width: 50px; padding: 0; border-radius: 8px;">
            <img src="images/apple.svg" alt="Apple" style="height: 24px;" />
        </MudButton>
    </MudItem>
    <MudItem xs="2">
        <MudButton Variant="Variant.Outlined" Style="background-color: #FFFFFF; border-color: #DDDDDD; height: 44px; width: 78px; min-width: 50px; padding: 0; border-radius: 8px;">
            <img src="images/microsoft.svg" alt="Microsoft" style="height: 24px;" />
        </MudButton>
    </MudItem>
    <MudItem xs="2">
        <MudButton Variant="Variant.Outlined" Class="social-login-button">
            <img src="images/facebook.svg" alt="Facebook" style="height: 24px;" />
        </MudButton>
    </MudItem>
</MudGrid>

    <MudText Align="Align.Center" Class="mt-4 d-flex justify-center">
    Already have an account? 
    <MudLink Href="/login" Class="ml-1" Style="color: #FF7F38;">
        Sign In
    </MudLink>
</MudText>
</MudForm>
 </div>
</div>


@code {
    private MudForm _form;
    private SignupModel _model = new();
    private bool _loading = false;
    private bool _showOtp = false;
    public bool isEmail { get; set; } = false;
    public string email  { get; set; } = string.Empty;
    private string _confirmPassword = "";
    private string _otp = "";
    private string _firstName_error = "";
    private string _lastName_error = "";
    private string _username_error = "";
    private string _email_error = "";
    private string _phone_error = "";
    private string _password_error = "";
    private string _confirmPassword_error = "";
    private bool EnableTwoFactor { get; set; } = true;

    [Required(ErrorMessage = "You must accept the Terms and Conditions.")]
    private bool AcceptedTerms { get; set; }
    private bool MarketingOptIn { get; set; }

    private bool showEmailVerificationBox { get; set; } = false;
    private bool showPhoneVerificationBox { get; set; } = false;
    private DateTime? _dateOfBirth;
    private List<string> _validationErrors = new();
    private bool _showPassword = false;
    private bool _showConfirmPassword = false;
    private bool _showVerificationPopup = false;
    private bool showVerificationSuccess = false;
    private bool showMobileVerificationSuccess = false;
    private bool signUpSucesss = false;
    private bool showAgreeTermsError = false;
    private List<CountryModel> countryList = new List<CountryModel>();
    
    protected override async Task OnInitializedAsync()
    {
        countryList = await FetchCountriesAsync();
    }
    
    private CountryModel SelectedCountry { get; set; } = new CountryModel
    {
        Name = "Qatar",
        Code = "+974",
        Flag = "https://flagcdn.com/w40/qa.png"
    };
    private void OnPasswordInput(ChangeEventArgs e)
{
    _model.Password = e?.Value?.ToString() ?? string.Empty;
    StateHasChanged(); 
}
    private void TogglePasswordVisibility()
    {
        _showPassword = !_showPassword;
    }
    private void ToggleConfirmVisibility()
    {
        _showConfirmPassword = !_showConfirmPassword;
    }
    
    private List<string> languageOptions = new() { "English", "Arabic", "French", "German" }; 


    private async Task SubmitSignup()
    {
        _loading = true;
        await _form.Validate();
        if (!_model.AggreeToTerms)
        {
            showAgreeTermsError = true;
            _loading = false;
            return;
        }
        else
        {
            showAgreeTermsError = false;
        }
        if (!_form.IsValid)
        {
            _loading = false;
            return;
        }   
         var payload = new
        {
            username = _model.UserName,
            firstName = _model.FirstName,
            lastname = _model.LastName,
            dateofbirth = _dateOfBirth?.ToString("yyyy-MM-dd"), 
            gender = "male",
            mobileOperator = "vodofone",
            mobilenumber = _model.MobileNumber,
            emailaddress = _model.EmailAddress,
            nationality = _model.Nationality,
            password = _model.Password,
            languagepreferences = _model.LanguagePreferences,
            location = "location"
        }; 

        try
        {
            Console.WriteLine(payload); 
            var res = await Api.PostAsync<object, ResponseModel<object> >("auth/register", payload); 
                Console.WriteLine(res.Status);
                Console.WriteLine(res.Message);
            if (res!.Status)
            {
                UserState.Email = _model.EmailAddress;
                UserState.mobileNumber = _model.MobileNumber;
                var body = new
                {
                    emailorPhoneNumber = _model.MobileNumber,
                    enable = EnableTwoFactor
                };
                var response = await Api.PostAsync<object, ResponseModel<object> >("auth/manage/2fa", body); 
                signUpSucesss = true;
            }
            else
            {
                 _validationErrors.Add(res.Message);
            } 
        }
        catch (Exception ex)
        {
            _validationErrors.Add($"Signup failed: {ex.Message}");
        }
        finally
        {
            _loading = false;
        }
    }
    

    private async void OnVerifyEmailClicked()
    {
        isEmail = true;
        email = _model.EmailAddress;
     if (string.IsNullOrWhiteSpace(_model.EmailAddress))
        {
            _validationErrors.Add("Please enter your email address.");
            return;
            }   
        var payload = new
        {  
            email = _model.EmailAddress,
        }; 
        try
        {
            Console.WriteLine(payload); 
            var res = await Api.PostAsync<object, ResponseModel<object> >("auth/verify-email-request", payload); 
                Console.WriteLine(res.Status);
                Console.WriteLine(res.Message);
            if (res!.Status)
            {
                 _showVerificationPopup = true;
            }
            else
            {
                 _validationErrors.Add(res.Message);
            } 
        }
        catch (Exception ex)
        {
            _validationErrors.Add($"Verification failed: {ex.Message}");
        }
        finally
        {
            _loading = false;
        }

    }

    private async void OnVerifyPhoneClicked()
    {
        isEmail = false;
        email = _model.MobileNumber;
     if (string.IsNullOrWhiteSpace(_model.MobileNumber))
        {
             _validationErrors.Add("Please enter your phone number.");
            return;
            }   
        var payload = new
        {  
            phoneNumber = _model.MobileNumber,
        }; 
        try
        {
            Console.WriteLine(payload); 
            var res = await Api.PostAsync<object, ResponseModel<object> >("auth/verify-phone-request", payload); 
                Console.WriteLine(res.Status);
                Console.WriteLine(res.Message);
            if (res!.Status)
            {
                 _showVerificationPopup = true;
            }
            else
            {
                    _validationErrors.Add(res.Message);
            } 
        }
        catch (Exception ex)
        {
            _validationErrors.Add($"Signup failed: {ex.Message}");
        }
        finally
        {
            _loading = false;
        }

    }
    private void CloseVerificationPopup()
{
    _showVerificationPopup = false;
}
private void CloseSuccessPopup()
{
    signUpSucesss = false;
    NavManager.NavigateTo("/login");

}
    public class SignupModel
{
    [Required(ErrorMessage = "Username is required.")]
    public string UserName { get; set; }

    [Required(ErrorMessage = "First name is required.")]
    [RegularExpression("^[A-Za-z]+$", ErrorMessage = "First name must contain only alphabets.")]
    public string FirstName { get; set; }

    [Required(ErrorMessage = "Last name is required.")]
    [RegularExpression("^[A-Za-z]+$", ErrorMessage = "Last name must contain only alphabets.")]
    public string LastName { get; set; }

    [Required(ErrorMessage = "Email address is required.")]
    [RegularExpression(@"^[^@\s]+@[^@\s]+\.[^@\s]+$", ErrorMessage = "Invalid email address format.")]
    public string EmailAddress { get; set; }

    [Required(ErrorMessage = "Mobile number is required.")]
    [RegularExpression("^[0-9]+$", ErrorMessage = "Mobile number must contain only digits.")]
    public string MobileNumber { get; set; }

    public string Gender { get; set; }

    [Required(ErrorMessage = "Date of birth is required.")]
    public DateTime? DateOfBirth { get; set; } = DateTime.Today;

    [Required(ErrorMessage = "Password is required.")]
    [RegularExpression(@"^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$", 
        ErrorMessage = "Password must contain at least one uppercase letter, one lowercase letter, one number, one special character, and no whitespace.")]
    public string Password { get; set; }

    [Required(ErrorMessage = "Nationality is required.")]
    public string Nationality { get; set; } = "Qatar";

    public string LanguagePreferences { get; set; } = "English";

    public string Location { get; set; }

    public bool AggreeToTerms { get; set; } = false;
}

    public class TokenResponse
    {
        public string JwtToken { get; set; }
        public string RefreshToken { get; set; }
    }
    private async Task<List<CountryModel>> FetchCountriesAsync()
    {

        try
        {
            var response = await Http.GetStringAsync("https://restcountries.com/v3.1/all");

            var countriesJson = JsonSerializer.Deserialize<List<JsonElement>>(response);

            foreach (var country in countriesJson)
{
    if (country.TryGetProperty("name", out var nameDict) &&
        nameDict.TryGetProperty("common", out var nameElement))
    {
        string name = nameElement.GetString();
        string code = "N/A";
        string flag = "";

        if (country.TryGetProperty("idd", out var idd))
        {
            if (idd.TryGetProperty("root", out var rootElement) &&
                idd.TryGetProperty("suffixes", out var suffixesElement))
            {
                var root = rootElement.GetString();
                var suffix = suffixesElement[0].GetString();
                if (root != null && suffix != null)
                {
                    code = root + suffix;
                }
            }
        }

        if (country.TryGetProperty("flags", out var flags) &&
            flags.TryGetProperty("png", out var flagElement))
        {
            flag = flagElement.GetString();
        }

        countryList.Add(new CountryModel
        {
            Name = name,
            Code = code,
            Flag = flag ?? ""
        });
    }
}
        }
        catch (Exception ex)
        {
            Console.WriteLine("Error fetching countries: " + ex.Message);
        }

        return countryList.OrderBy(c => c.Name).ToList();;
    }
}

<style>
    .popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(4px); 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; 
}
.phone-flex {
    display: flex;
    align-items: center;
    gap: 16px; 
}
</style>