@using QLN.ContentBO.WebUI.Models
@using QLN.ContentBO.WebUI.Components.TableSkeleton
@using QLN.ContentBO.WebUI.Components.EmptyCard
@inherits FeaturedCategoryBase

@if (IsLoadingEvent)
{
    <TableSkeleton Rows="10" />
}
else if (FeaturedEventSlots == null || Categories == null)
{
      <div class="empty-card-wrapper">
        <EmptyCard Title="No Feature an Category found" Subtitle="Please check back later or explore other categories." />
    </div>
}
else
{
   var indexedFeatured = FeaturedEventSlots
    .OrderBy(s => s.SlotNumber)
    .Select((e, i) => new { Slot = e, Index = i + 1 })
    .ToList();

    <table class="table table-hover featured-table" style="width: 100%;">
        <thead>
            <tr>
                <th style="width: 40px;"></th> <!-- drag handle -->
                <th style="width: 60px;">Slot</th>
                <th>Category</th>
                <th>End Date</th>
                <th style="width: 120px;">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var context in indexedFeatured)
            {
                <tr data-slot-id="@context.Slot.SlotNumber">
                    <td>
                      <img src="/qln-images/arrow_icon.svg" 
                        class="@(context.Slot.Event?.EventTitle == "Feature an Event" ? "" : "drag-handle")"
                        style="cursor: @(context.Slot.Event?.EventTitle == "Feature an Event" ? "default" : "grab"); width: 24px;" 
                        alt="drag" />
                    </td>
                    <td><span class="slot-position"></span></td>
                  
                    <td>
                        @if(context.Slot.Event?.CategoryName is not null)
                        {
                            <span>@(Categories.FirstOrDefault(c => c.Id == context.Slot.Event?.CategoryId)?.CategoryName) </span>
                        }
                        else
                        {
                            @("-")
                        }
                    </td>
                    <td>
                        @(context.Slot.Event?.EventSchedule != null 
                        ? context.Slot.Event.EventSchedule.EndDate.ToString("dd-MM-yyyy") 
                        : "-")
                    </td>
                    <td>
                       @if (context.Slot.Event?.EventTitle == "Feature an Event")
                    {
                        <div class="d-flex align-center gap-2">
                        @* <div class="custom-delete-button"> *@
                        <img src="/qln-images/replace_icon1.svg" alt="delete" class="action-icon-style" />
                        @* </div> *@
                        <div class="custom-delete-button">
                        <img src="/qln-images/delete_icon1.svg" alt="delete" class="action-icon-style" />
                        </div>
                        </div>
                    }
                    else
                    {
                        <div class="d-flex align-center gap-2">
                        <div class="custom-delete-button">
                        <img src="/qln-images/replace_icon.svg"  @onclick="@(() => ReplaceSlot.InvokeAsync(context.Slot))" alt="delete" class="action-icon-style" />
                        </div>
                        <div class="custom-delete-button" 
                        @onclick="@(() => OnDelete.InvokeAsync(context?.Slot?.Event?.Id.ToString()))">
                        <img src="/qln-images/delete_icon.svg" alt="delete" class="action-icon-style" />
                        </div>
                        </div>
                    }
                    </td>
                </tr>
            }
        </tbody>
    </table>
}


















