@using MudBlazor
@inherits MoreArticleSectionBase
@using QLN.Web.Shared.Components.EmptyCard
 @using QLN.Web.Shared.Components.AdBanner

@if (Articles != null)
{
<div class="card-container">

    <h3><span class="accent-bar">|</span> More Articles</h3>
    @if (loading)
        {
            @for (int i = 0; i < 4; i++)
            {
                <div class="skeleton-item">
                    <MudSkeleton Width="120px" SkeletonType="SkeletonType.Rectangle" Height="70px" Variant="Rectangle" Class="rounded" />
                    <div class="skeleton-text">
                        <MudSkeleton Height="20px" SkeletonType="SkeletonType.Text" Width="100%" />
                        <MudSkeleton Height="20px" SkeletonType="SkeletonType.Text" Width="80%" class="skeleton-line-spacing" />
                    </div>
                </div>
            }
        }
    else if (Articles != null && Articles.Any())
    {
            <MudVirtualize Context="article" Items="Articles">
                <div class="article-entry" @onclick="@(() => NavigateToArticle(article))">
                    @if (!string.IsNullOrWhiteSpace(article.ImageUrl))
                    {
                        @if (!imageLoaded)
                        {
                                <MudSkeleton SkeletonType="SkeletonType.Rectangle" class="article-image" />
                        }
                        <img src="@article.ImageUrl" alt="" class="article-image"
                        style="@(imageLoaded ? "display: block;" : "display: none;")" @onload="OnImageLoaded"
                        @onerror="OnImageError" />
                    }
                    else
                    {
                        <EmptyCard Title="No Images Available" Subtitle="" />
                    }
                   <div class="article-content">
                        <div class="@(selectedPost == article ? "selected-title" : "article-title")">
                        @article.Title
                        </div>
                  </div>
                </div>
            </MudVirtualize>
        

    }
    else
    {
        <EmptyCard Title="No article found" Subtitle="Please check back later or explore other categories." />
    }

    <div style="width: 340px; height: 402px;">
            <AdBanner BannerItems="ArticleSideBanners" />
    </div>

</div>
}
else if(Events != null){
    <div class="card-container">

    <h3><span class="accent-bar">|</span> More Articles</h3>
    @if (loading)
        {
            @for (int i = 0; i < 4; i++)
            {
                <div class="skeleton-item">
                    <MudSkeleton Width="120px" SkeletonType="SkeletonType.Rectangle" Height="70px" Variant="Rectangle" Class="rounded" />
                    <div class="skeleton-text">
                        <MudSkeleton Height="20px" SkeletonType="SkeletonType.Text" Width="100%" />
                        <MudSkeleton Height="20px" SkeletonType="SkeletonType.Text" Width="80%" class="skeleton-line-spacing" />
                    </div>
                </div>
            }
        }
    else if (Events != null && Events.Any())
    {
        <MudVirtualize Context="article" Items="Events">
                <div class="article-entry" @onclick="@(() => NavigateToEventArticle(article))">
                    @if (!string.IsNullOrWhiteSpace(article.ImageUrl))
                    {
                        @if (!imageLoaded)
                        {
                                <MudSkeleton SkeletonType="SkeletonType.Rectangle" class="article-image" />
                        }
                        <img src="@article.ImageUrl" alt="" class="article-image"
                        style="@(imageLoaded ? "display: block;" : "display: none;")" @onload="OnImageLoaded"
                        @onerror="OnImageError" />
                    }
                    else
                    {
                        <EmptyCard Title="No Images Available" Subtitle="" />
                    }
                   <div class="article-content">
                        <div class="@(selectedEvent == article ? "selected-title" : "article-title")">
                        @article.Title
                        </div>
                  </div>
                </div>
            </MudVirtualize>  
    }
    else
    {
        <EmptyCard Title="No Eventy found" Subtitle="Please check back later or explore other categories." />
    }

    <div style="width: 340px; height: 402px;">
            <AdBanner BannerItems="ArticleSideBanners" />
    </div>

</div>

}

<style>
    .card-container {
        padding: 16px;
        border-radius: 12px;
        font-family: 'Public Sans', sans-serif;
    }

    .skeleton-item {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        gap: 4px;
        height: 100px;
    }

    .skeleton-text {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        flex: 1;
    }

    .skeleton-line-spacing {
        margin-top: 8px;
    }

    .section-title {
        margin: 0;
        font-size: 12px;
        color: #000000;
        font-weight: 500;
        padding: 2px 6px;
        border-radius: 3px;
        border: 1px solid #E8F2FE;
    }

    .info-section {
        margin: 16px 0;
    }

    .info-item {
        display: flex;
        align-items: center;
        margin-bottom: 8px;
        padding: 8px;
        border-radius: 4px;
        border: 1px solid #E8F2FE;
    }

    .info-Access {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
        gap: 10px
    }

    .info-text {
        margin-left: 8px;
        font-size: 14px;
        color: #454545;
        font-weight: 500;
    }

    .price-text {
        margin-left: 8px;
        font-size: 25px;
        font-weight: 600;
        color: #242424;
    }

    .access-name {
        font-size: 14px;
        font-weight: 500;
        color: #242424;
    }

    .qar {
        font-size: 14px;
        font-weight: 500;
        color: #242424;
    }

    .main-button {
        width: 100%;
        background-color: #FF6F2C;
        color: white;
        border: none;
        padding: 10px 0;
        border-radius: 6px;
        font-size: 15px;
        font-weight: 500;
        cursor: pointer;
        margin-bottom: 12px;
    }

    .calendar-button {
        width: 100%;
        background-color: transparent;
        color: #FF6F2C;
        border: 2px solid #FF6F2C;
        padding: 10px 0;
        border-radius: 6px;
        font-size: 15px;
        font-weight: 500;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }

    .map-container {
        margin: 16px 0;
        gap: 10px
    }

    .map-frame {
        width: 100%;
        height: 200px;
        border: 1px solid #ccc;
        border-radius: 8px;
    }

    .ad-banner {
        width: 100%;
        margin-top: 8px;
    }

    .more-articles {
        max-width: 600px;
        margin: 0 auto;
        font-family: 'Public Sans', sans-serif;
    }

    .accent-bar {
        color: #003865;
        font-weight: bold;
        margin-right: 4px;
    }

    h3 {
        font-size: 20px;
        margin-bottom: 20px;
    }

    .article-entry {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #eee;
    }

    .article-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 16px;
        flex: 1;
    }

    .article-meta {
        color: #FF7F38;
        font-weight: 600;
        font-size: 14px;
        margin-bottom: 4px;
    }

    .article-title:hover {
        text-decoration: underline;
        color: var(--color-primary);
    }

    .article-image {
        width: 107px;
        height: 60px;
        border-radius: 6px;
        object-fit: cover;
    }

    .accent-bar {
        color: #003865;
        font-weight: bold;
        margin-right: 4px;
    }

    .article-title {
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-decoration: none;
        text-overflow: ellipsis;
        white-space: normal;
        line-height: 1.4;
        font-size: 16px;
        font-weight: 500;
        color: var(--color-text-heading);
        line-height: 1.4;
        max-height: calc(1.4em * 3);
    }

    .selected-title {
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-decoration: none;
        text-overflow: ellipsis;
        white-space: normal;
        line-height: 1.4;
        font-size: 16px;
        font-weight: 500;
        color: var(--color-primary);
        line-height: 1.4;
        max-height: calc(1.4em * 3);
    }
</style>
