@page "/manage/classified/deals/edit/ad/{AdId}"
@using QLN.ContentBO.WebUI.Models
@using QLN.ContentBO.WebUI.Pages.Classified.Items.EditAd
@using QLN.ContentBO.WebUI.Components.EmptyCard
@using QLN.ContentBO.WebUI.Components.PhoneNumberInput;
@inherits EditDealsBase

<button class="back-button" @onclick="GoBack">
    <MudIcon Icon="@Icons.Material.Rounded.KeyboardArrowLeft" Class="back-icon" />
    Back
</button>
@if (IsLoading)
{
    <MudGrid GutterSize="24px">
        <MudItem xs="12" md="5">
            <MudSkeleton Height="50px" Width="100%" Animation="Animation.Pulse" />
            <MudSkeleton Height="50px" Width="100%" Animation="Animation.Pulse" />
            <MudSkeleton Height="50px" Width="100%" Animation="Animation.Pulse" />
            <MudSkeleton Height="50px" Width="100%" Animation="Animation.Pulse" />
            <MudSkeleton Height="50px" Width="100%" Animation="Animation.Pulse" />

        </MudItem>
        <MudItem xs="12" md="7">
            <MudSkeleton Height="500px" Width="100%" Animation="Animation.Pulse" />
        </MudItem>
    </MudGrid>
}
else if (adPostModel != null)
{
    <EditDealsAction AdModel="@adPostModel" />
    <div class="create-form-container">
        <MudGrid GutterSize="24px">
            <MudItem xs="12" md="5">
                <EditForm Model="@adPostModel" OnValidSubmit="HandleValidSubmit">
                    <DataAnnotationsValidator />

                    <div class="create-form-list">
                        <h3 class="form-heading">Ad Category</h3>
                        <MudTextField Label="Sub Vertical"
                                      Variant="Variant.Outlined"
                                      Class="white-bg"
                                      Value="adPostModel.Subvertical"
                                      FullWidth="true"
                                      Disabled="true">
                        </MudTextField>

                        <h3 class="form-heading">Description and Features</h3>
                        <MudTextField Class="white-bg" Variant="Variant.Outlined" T="string" Label="Offer Title"
                                      @bind-Value="adPostModel.Title" For="@(() => adPostModel.Title)" FullWidth="true" />

                        <MudPaper Class="d-flex align-center mt-2 p-2 doc-input no-underline">
                            <MudText Typo="Typo.body1">
                                Flyer File
                                @if (!string.IsNullOrEmpty(adPostModel.FlyerFileName))
                                {

                                    <MudText Typo="Typo.caption" Class="ml-2">@adPostModel.FlyerFileName</MudText>
                                    <MudIconButton Icon="@Icons.Material.Outlined.Close"
                                                   Size="Size.Small"
                                                   Color="Color.Error"
                                                   OnClick="ClearFile" />
                                }
                            </MudText>
                            <MudSpacer />
                            <MudFileUpload T="IBrowserFile"
                                           Accept=".pdf"
                                           MaximumFileCount="1"
                                           OnFilesChanged="HandlePdfFileChanged"
                                           @ref="_pdfFileUploadRef">
                                <ActivatorContent>
                                    <MudButton Variant="Variant.Filled"
                                               Color="Color.Primary"
                                               Class="upload-button">
                                        Upload
                                        <img src="/qln-images/upload_white_icon.svg" width="20" height="20" />
                                    </MudButton>
                                </ActivatorContent>
                            </MudFileUpload>

                        </MudPaper>
                        <MudText Typo="Typo.caption">Supported file formats: PDF . Max: 10MB</MudText>



                        <MudTextField Class="white-bg" Variant="Variant.Outlined" T="string" Label="XML Link"
                                      @bind-Value="adPostModel.XmlLink" For="@(() => adPostModel.XmlLink)" FullWidth="true" />

                        <MudDatePicker Label="Expiry Date"
                                       T="DateTime?"
                                       @bind-Date="adPostModel.ExpiryDate"
                                       Adornment="Adornment.End"
                                       AdornmentIcon="@Icons.Material.Filled.Event"
                                       Class="white-bg"
                                       Variant="Variant.Outlined" />
                        <h3 class="form-heading">Contact Details</h3>
                        <div class="form-group">
                            <!-- Phone -->
                            <PhoneNumberInput SelectedCountry="@SelectedPhoneCountry"
                                              Placeholder="Phone Number"
                                              SelectedCountryChanged="@OnPhoneCountryChanged"
                                              PhoneNumber="@adPostModel.ContactNumber"
                                              PhoneNumberChanged="@OnPhoneChanged" />
                            <ValidationMessage For="@(() => adPostModel.ContactNumber)" />
                        </div>
                        <div class="form-group">
                            <!-- WhatsApp -->
                            <PhoneNumberInput SelectedCountry="@SelectedWhatsappCountry"
                                              Placeholder="WhatsApp Number"
                                              SelectedCountryChanged="@OnWhatsappCountryChanged"
                                              PhoneNumber="@adPostModel.WhatsappNumber"
                                              PhoneNumberChanged="@OnWhatsappChanged" />
                            <ValidationMessage For="@(() => adPostModel.WhatsappNumber)" />
                        </div>

                        <h3 class="form-heading">Location</h3>
                        <MudTextField Class="white-bg"
                                      Variant="Variant.Outlined"
                                      Label="Locations "
                                      @bind-Value="LocationsString"
                                      For="@(() => LocationsString)"
                                      FullWidth="true" />

                        <MudCheckBox Color="Color.Primary" T="bool" Label="I agree to terms"
                                     @bind-Value="adPostModel.IsAgreed" For="@(() => adPostModel.IsAgreed)" />

                        <div class="custom-button-group">
                            <MudButton Class="custom-button" Variant="Variant.Outlined">Cancel</MudButton>
                            <MudButton Class="custom-button" Variant="Variant.Filled" Color="Color.Primary" ButtonType="ButtonType.Submit" Disabled="IsBtnDisabled">Submit</MudButton>
                        </div>
                    </div>
                </EditForm>

            </MudItem>

            <MudItem xs="12" md="7">
                <UploadDealsPhotos AdModel="@adPostModel" />
            </MudItem>
        </MudGrid>
    </div>
}
else
{
    <div class="empty-card-wrapper">
        <EmptyCard Title="Data Could not be loaded" Subtitle="Please check back later " />
    </div>
}

<style>
    .create-form-container {
        padding: 20px 0;
    }

    .back-button {
        display: flex;
        align-items: center;
        border: 1px solid var(--color-accent);
        color: var(--color-accent);
        background-color: transparent;
        border-radius: 8px;
        padding: 6px 10px;
        font-weight: 500;
        font-size: 14px;
        cursor: pointer;
        transition: background-color 0.2s ease-in-out;
    }

    .back-icon {
        margin-right: 6px;
    }

    .white-bg input,
    .white-bg textarea,
    .white-bg .mud-input,
    .white-bg .mud-select,
    .white-bg .mud-select-input,
    .white-bg .mud-input-slot {
        background-color: white !important;
    }
</style>
