@page "/manage/classified/deals/listing"
@layout DealsLayout

@inherits DealsListingBase

<div style="margin-top:10px">
    <div class="search-sort-container">
        <div class="left-section">


            <div class="search-wrapper">
                <img src="/qln-images/search_icon.svg" alt="search" class="search-icon" />
                <input type="text"
                       placeholder="Search for Deals"
                       class="search-input"
                       @oninput="OnSearchChanged" />
            </div>
        </div>

        <div class="right-section">
            <button class="sort-button" @onclick="ShowConfirmationExport">
                <img src="/qln-images/file_icon.svg" />
                Export data
            </button>
            <button class="sort-button" @onclick="ToggleSort">
                <MudIcon Icon="@SortIcon" />
                Sort by
            </button>
        </div>
    </div>

    <!-- Filter row -->
    <div class="filter-row">
        <div class="filter-button @(showCreatedPopover ? "active-filter" : "")" @onclick="ToggleCreatedPopover">
            <img src="/qln-images/date_icon.svg" class="filter-icon @(showCreatedPopover ? "active-icon" : "")" style="width:16px;" />
            <span>@(dateCreated.HasValue ? dateCreated.Value.ToString("dd MMM yyyy") : "Deal Start Date")</span>
            <MudPopover Open="@showCreatedPopover"
                        AnchorOrigin="Origin.BottomCenter"
                        TransformOrigin="Origin.TopCenter"
                        Elevation="6"
                        Class="popover-container">
                <div class="popover-content">
                    <MudDatePicker @bind-Date="tempCreatedDate"
                                   DisableToolbar="true"
                                   ShowToolbar="false"
                                   PickerVariant="PickerVariant.Static" />
                    <div class="popover-footer">
                        <MudButton class="popover-button" Variant="Variant.Filled" OnClick="CancelCreatedPopover">Cancel</MudButton>
                        <MudButton class="popover-button" Variant="Variant.Filled" Color="Color.Primary" OnClick="ConfirmCreatedPopover">OK</MudButton>
                    </div>
                </div>
            </MudPopover>
        </div>

        <div class="filter-button @(showPublishedPopover ? "active-filter" : "")" @onclick="TogglePublishedPopover">
            <img src="/qln-images/date_icon.svg" class="filter-icon @(showPublishedPopover ? "active-icon" : "")" style="width:16px;" />
            <span>@(datePublished.HasValue ? datePublished.Value.ToString("dd MMM yyyy") : "Deal End Date")</span>
            <!-- Popover for Date Published -->
            <MudPopover Open="@showPublishedPopover"
                        AnchorOrigin="Origin.BottomCenter"
                        TransformOrigin="Origin.TopCenter"
                        Elevation="6"
                        Class="popover-container">
                <div class="popover-content">
                    <MudDatePicker @bind-Date="tempPublishedDate"
                                   DisableToolbar="true"
                                   ShowToolbar="false"
                                   PickerVariant="PickerVariant.Static" />
                    <div class="popover-footer">
                        <MudButton class="popover-button" Variant="Variant.Filled" OnClick="CancelPublishedPopover">Cancel</MudButton>
                        <MudButton class="popover-button" Variant="Variant.Filled" Color="Color.Primary" OnClick="ConfirmPublishedPopover">OK</MudButton>
                    </div>
                </div>
            </MudPopover>
        </div>

        <button class="filter-button" @onclick="ClearFilters">Clear Filters</button>
    </div>

</div>
<div style="margin-top:10px">
    <DealsTable Listings="Listings"
                IsLoading="IsLoading"
                IsEmpty="IsEmpty"
                TotalCount="TotalCount"
                SelectedTab=@SelectedTab
                OnTabChanged="HandleTabChange"
                OnPageChanged="HandlePageChanged"
                OnPageSizeChanged="HandlePageSizeChanged" />
</div>




