@using QLN.Common.Infrastructure.DTO_s
@using System.Text.RegularExpressions
<div class="Top-event-list-card">
    <div class="Top-event-image-wrapper">
        <img src="@Item.ImageUrl" class="Top-event-card-img" alt="Title" />
        @if (!string.IsNullOrEmpty(Item.EventStart) && !string.IsNullOrEmpty(Item.EventEnd))
        {
            <div class="Top-event-date">
                @Item.EventStart to @Item.EventEnd
            </div>
        }
    </div>

    <div class="Top-event-card-body">
        <div class="Top-event-category">Highlighted Event</div>

        <h3 class="Top-event-title">@Item.Title</h3>

        <p class="Top-event-description" style="text-overflow:ellipsis;">
            @StripHTML(Item.Description ?? "")
        </p>

        <div class="Top-event-location">
            <MudIcon Icon="@Icons.Material.Rounded.LocationOn" class="Top-event-location-icon" />
            <span class="Top-event-location-text">@Item.EventLocation</span>
        </div>
    </div>
</div>

<style>
    .Top-event-list-card {
        border-radius: 6px;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        position: relative;
        max-width: 374px;
        height: 368px;
        cursor: pointer;
        font-family: 'Public Sans';
        border: 1px solid #F0F0F0;
        background: #FFFFFF;
    }

    .Top-event-image-wrapper {
        position: relative;
        width: 100%;
        height: 214px;
        overflow: hidden;
        padding: 10px
    }

    .Top-event-card-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
        border-radius: 6px;
    }

    .Top-event-date {
        position: absolute;
        bottom: 10px;
        right: 12px;
        background: #0071AF;
        color: white;
        padding: 4px 10px;
        font-size: 12px;
        font-weight: 500;
    }

    .Top-event-card-body {
        padding: 16px;
        display: flex;
        flex-direction: column;
        gap: 6px;
        background: #FFFFFF;
    }

    .Top-event-category {
        font-size: 11px;
        font-weight: 500;
        color: #FF7F38;
    }

    .Top-event-title {
        margin: 0;
        font-size: 18px;
        font-weight: 600;
        color: #242424;
    }

    .Top-event-description {
        font-size: 14px;
        color: #242424;
        font-weight: 400;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .Top-event-location {
        display: flex;
        align-items: center;
        gap: 4px;
        font-size: 12px;
        font-weight: 600;
        color: #646464;
    }

    .Top-event-location-text {
        font-size: 12px;
    }

    .Top-event-location-icon {
        font-size: 16px;
        color: #646464;
    }
</style>

@code {
    [Parameter]
    public ContentEvent Item { get; set; } = new();


    public static string StripHTML(string input)
    {
        string noHTML = Regex.Replace(input, @"<[^>]+>|&nbsp;", string.Empty).Trim();
        string noHTMLNormalised = Regex.Replace(noHTML, @"\s{2,}", " ");
        return noHTMLNormalised;
    }
}
