@page "/content/news"
@inherits NewsBase
@layout ContentLayout
@using MudBlazor
@using QLN.Web.Shared.Pages.Content.News.NewsCard
@using QLN.Web.Shared.Pages.Content.News.NewsLetter
@using QLN.Web.Shared.Pages.Content.News.PopularArticles
@using QLN.Web.Shared.Pages.Content.News.VideoCards
@using QLN.Web.Shared.Components.ViewToggleButtons
@using QLN.Web.Shared.Pages.Content.News.MoreArticle
@using QLN.Web.Shared.Pages.Content.News.Skeletons
@inject IJSRuntime JSRuntime
@using QLN.Web.Shared.Components.Carousel
<div style="width: 100%;background-color: var(--color-secondary-background);">
    <div style="max-width: 1500px; margin: 0 auto;">
<MudGrid Class="full-width" Justify="Justify.Center" >
    <MudItem xs="12">
    <div class="carousel-padding">
        <CarouselBanner ImageUrls="carouselImages"
                        ShowArrows="true"
                        EnableSwipeGesture="true"
                        AutoCycle="true"
                        Transition="Transition.Slide" />
    </div>
    </MudItem>
     <MudItem xs="12" Class="d-flex justify-center py-3">
        <ViewToggleButtons Items="@_viewOptions" SelectedValue="@_selectedView" OnSelected="SetViewMode" TextClass="custom-text"/>
    </MudItem>

    <MudItem xs="12" Class="news-tabs-wrapper">
        <div class="news-tabs">
            @foreach (var tab in Tabs)
            {
                <div class="news-tab @(tab == SelectedTab ? "active" : "")" @onclick="() => SelectTab(tab)">
                    @tab
                </div>
            }
        </div>
    </MudItem>
       <div class="news-container">   
         <div class="side-padding" style="display: flex; flex-wrap: wrap; gap: 0px;">
    <MudItem xs="12" md="8">
        <div class="main-article">
            <div class="main-content">
                <div class="main-category" @onclick="@(() => onclick(topNews))">
                    @if (isLoading){
                    <MudSkeleton SkeletonType="SkeletonType.Rectangle" Height="400px" Width="100%" Animation="Animation.Wave" />
                    }
                    else{
                    <img src="@topNews.ImageUrl" class="main-image" />
                    }
                     @if (isLoading){
                    <MudSkeleton Class="mb-2 mt-2" SkeletonType="SkeletonType.Text" Height="24px" Width="100px" Animation="Animation.Wave" />
                    <MudSkeleton Class="mb-2" SkeletonType="SkeletonType.Text" Height="30px" Width="100%" Animation="Animation.Wave" />
                    <MudSkeleton Class="mb-2" SkeletonType="SkeletonType.Text" Height="30px" Width="200px" Animation="Animation.Wave" />
                    }
                    else{
                    <span class="category-style">Sports</span>
                    <h2 class="main-title">@topNews.Title</h2>
                    <div class="author-wrapper">
                        <div class="main-author">
                            Ismat Zerin • <a href="#" class="main-source">Qatar Living</a>  
                            <img src="/images/tick.svg" alt="Qatarliving" />
                        </div>
                         <div class="comment-badge">
                            <img src="/images/comment_icon.svg" alt="Comments" class="comment-icon" />
                            <span class="count">12</span>
                        </div> 
                    </div>
                    }
                </div>
            </div>
        </div>
    </MudItem>

    <MudItem xs="12" md="4">
        <MoreArticle Articles="@moreArticleList" loading="@isLoading" selectedTab="@SelectedTab"/>
    </MudItem>
     </div>  
    <!-- Recommended Cards -->
   <MudItem xs="12" Class="side-padding py-6">
    @if (isLoading){
        <div class="skeleton-container">
         @for (int i = 0; i < 3; i++)
        {
        <MudItem xs="12" sm="6" md="4">
            <MudPaper Elevation="0" Class="p-2 mx-2" Style="max-width: 214px;">
                <MudSkeleton SkeletonType="SkeletonType.Rectangle" Height="120px" Width="214px;" Animation="Animation.Wave" Class="mb-3 rounded" />
                <MudSkeleton SkeletonType="SkeletonType.Text" Height="20px" Width="100%" Animation="Animation.Wave" Class="mb-1" />
                <MudSkeleton SkeletonType="SkeletonType.Text" Height="20px" Width="80%" Animation="Animation.Wave" />
            </MudPaper>
        </MudItem>
        }
        <MudSkeleton SkeletonType="SkeletonType.Text" Height="400px" Width="500px" Animation="Animation.Wave" Class="mb-1 rounded" />
        </div>  
    }
    else{
   <div class="flex-container">
        @foreach (var news in moreArticleList.Take(3))
        {
             <div class="@(news == moreArticleList.Last() ? "card-image-style" : "news-card-wrapper")">  
            <NewsCard news="news" IsHorizontal="false" OnClick="() => onclick(news)"/>
             </div> 
        }
            <div class="newsletter-wrapper"> 
            <NewsLetter />
            </div>
    </div>
    }
    </MudItem>
    <!-- Video Cards -->
     <MudItem xs="12">
    <div class="carousel-padding">
        <CarouselBanner ImageUrls="carouselImages"
                        ShowArrows="true"
                        EnableSwipeGesture="true"
                        AutoCycle="true"
                        Transition="Transition.Slide" />
    </div>
    </MudItem>
     </div> 
     <MudItem xs="12">
         <div class="video-padding">
        <VideoCards Articles="@moreArticleList" selectedTab="@SelectedTab" />
       </div>
     </MudItem>

    <!-- More Cards -->
    <MudItem xs="12" Class="py-2" >
   <div class="card-container side-padding">
        @foreach (var news in moreArticleList.Take(5))
        {
         <div class="@(news == moreArticleList.Last() ? "" : "news-card-wrapper")">  
            <NewsCard news="news" IsHorizontal="false" OnClick="() => onclick(news)"/>
         </div> 
        }
        </div>
    </MudItem>
    <!-- Popular Articles & Ads -->
     <MudContainer MaxWidth="MaxWidth.ExtraLarge" Class="section-container">
    <MudItem xs="12">
         <div class="poular-article-container">
            <PopularArticles Articles="@moreArticleList" selectedTab="@SelectedTab"/>
            <img src="/images/classifieds/detail_ad.svg"  alt="Product Image" />
        </div>
    </MudItem>
</MudContainer> 
@* <div style="width: 100%;" >
<NewsCard news="topNews" IsHorizontal="true" OnClick="() => onclick(topNews)"/>
<NewsCard news="topNews" IsHorizontal="true" OnClick="() => onclick(topNews)"/>
</div> *@

    <!-- Even Better -->
     <MudGrid GutterSize="3" Class="grid-padding pb-3">
        @if(!isLoading){
        @foreach (var news in moreArticleList.Take(9))
        {
            <MudItem xs="12" sm="6" md="4"> 
                  <div class="card-wrapper">  
                    @* <div class="@(news == moreArticleList.Last() ? "" : "news-card-wrapper")">    *@
                    <NewsCard news="news" IsHorizontal="true" OnClick="() => onclick(news)"/>
                    @* </div>  *@
                 </div>  
            </MudItem>
        }
        }
    else{
    @for (int i = 0; i < 9; i++)
    {
        <MudItem xs="12" sm="6" md="4">
        <MudGrid>
        <MudItem xs="4">
            <MudSkeleton 
                SkeletonType="SkeletonType.Rectangle" 
                Height="100px" 
                Width="100%" 
                Animation="Animation.Wave" 
                Class="rounded" />
        </MudItem>
        <MudItem xs="8" Class="d-flex flex-column justify-center pl-2">
            <MudSkeleton 
                SkeletonType="SkeletonType.Text" 
                Height="20px" 
                Width="60%" 
                Animation="Animation.Wave" 
                Class="mb-1" />
            <MudSkeleton 
                SkeletonType="SkeletonType.Text" 
                Height="20px" 
                Width="60%" 
                Animation="Animation.Wave" 
                Class="mb-1" />
            <MudSkeleton 
                SkeletonType="SkeletonType.Text" 
                Height="20px" 
                Width="80%" 
                Animation="Animation.Wave" />
        </MudItem>
    </MudGrid>
        </MudItem>
    }
    }
    </MudGrid>  
        
</MudGrid>
</div>
</div>

<style>
    .custom-text {
    font-weight: 600px;
    font-size: 14px;
    padding-left: 30px;
    padding-right: 30px;    
    font-family: 'Public Sans', sans-serif;
}
.count{
    font-family: 'Public Sans', sans-serif;
    font-weight: 400;
    font-size: 12px;
    color: var(--color-primary);
}
    .full-width {
    @* width: 100%; *@
    background-color: var(--color-secondary-background)
}
.news-container{
    background-color: white;
    @* width: 100%; *@
}   
.news-tabs {
    width: 100%;
    display: flex;
    overflow-x: auto;
    @* padding: 8px 16px; *@
    align-items:center;
    gap: 8px;
    white-space: nowrap;
    justify-content: space-between;
    padding: 0px 100px;
}
.ad-style{
    padding-right: 100px;
    align-items: center;
}
.author-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.horizontal-scroll-wrapper {
    gap: 10px;
}  
.news-tabs-wrapper{
     width: 100%;
}
.news-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}
@* .mud-grid-spacing-xs-6>.mud-grid-item {
    padding-left: 0px; 
    padding-top: 24px;
} *@
.mud-grid-spacing-xs-6>.mud-grid-item {
    padding-left: 0px;
    @* padding-top: 0px; *@
}
.grid-padding {
    padding-left: 110px;
    padding-right: 110px;
    padding-top: 60px
}


.news-tab {
    padding: 10px 50px 10px 50px;
    font-family: 'Public Sans', sans-serif;
    font-weight: 600;
    font-size: 14px;
    height:44px;
    color: var(--color-text-heading);
    cursor: pointer;
    flex-shrink: 0;
}
.category-style{
     font-family: 'Public Sans', sans-serif;
    font-weight: 600;
    font-size: 14px;
    color: var(--color-accent);
}
.main-title{
     font-family: 'Public Sans', sans-serif;
    font-weight: 600;
    font-size: 25px;
    color: var(--color-text-heading);
}
.main-author{
    font-family: 'Public Sans', sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: var(--color-text-heading);
}
.main-source {
    font-family: 'Public Sans', sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: var(--color-primary);
}
.news-card-wrapper {
    border-right: 1px solid #F0F0F0;
    padding-right: 15px;
    padding-left: 15px;
}
.card-image-style{
    border-right: 1px solid var(--color-text-heading);
    padding-right: 15px;
    padding-left: 15px;
}

.newsletter-wrapper {
    flex: 1;
    max-width: 453px; 
    padding: 0 8px;   
    box-sizing: border-box;
}


.main-category {
    border: 1px solid #F0F0F0; 
    border-radius: 8px;     
    padding: 16px;           
    box-sizing: border-box; 
}

.news-tab.active {
    color: var(--color-accent);
    background-color: white;
    padding-right: 50px;
    padding-left: 50px;
    border-bottom: 2px solid var(--color-accent);
    font-family: 'Public Sans', sans-serif;
    font-weight: 600;
    align-items:center;
    height: 44px;
    font-size: 14px;
}
.multiple-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* responsive columns */
    gap: 24px;
    padding: 16px;
}

.main-article {
    background: white;
    border-radius: 8px;
    padding: 16px;
    display: flex;
    flex-direction: column;
}

.main-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
}
.carousel-padding {
    padding-left: 98px;
    padding-right: 98px;
}
.side-padding {
    padding-left: 98px;
    padding-right: 98px;
}
.video-padding {
    padding-left: 98px;
    padding-right: 98px;
    background-color: #FAFAFA;
}

.comment-badge {
    display: flex;
    align-items: center;
    border: 1px solid #E3E3E3;
    border-radius: 20px;
    padding: 4px 8px;
    gap: 4px;
}
.news-layout {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 24px;
    flex-wrap: wrap; 
}

.flex-container {
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    gap: 0px; 
    align-items: center;
}
.skeleton-container{
    justify-content: space-between;
    display: flex;
    align-items: center;
    @* flex-wrap: wrap; *@
    gap: 30px; 
}
.card-container {
    @* justify-content: space-between; *@
    display: flex;
    flex-wrap: wrap;
    gap: 0px; 
}
.newsletter-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    @* max-width: 400px; *@
}
@* .mud-grid-spacing-xs-6 {
    width: calc(100% + 24px);
    margin-left: -24px;
    margin-top: 0px; 
} *@
.poular-article-container{
     display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 150px;
    align-items: center;
    padding: 0px ;
    width: 100%;
    padding-left: 140px; 
    padding-right: 160px;
}
.card-wrapper {
    @* display: flex; *@
    @* justify-content: center; *@
    @* width: 340px; *@
}


@@media (max-width: 600px) {
    .custom-text {
        font-weight: 600px;
        font-size: 14px;
        padding-left: 10px;
        padding-right: 10px;    
        font-family: 'Public Sans', sans-serif;
    }
    .news-tabs-wrapper{
     width: 100%;
     margin-top: 16px;
}
    .news-layout {
        flex-direction: column;
        align-items: center;
    }
    .carousel-padding {
        padding-left: 0px;
        padding-right: 0px;
    }
    .side-padding {
        padding-left: 16px;
        padding-right: 16px;
    }
    .video-padding {
        padding-left: 16px;
        padding-right: 16px;
        background-color: #FAFAFA;
    }
    .horizontal-scroll-wrapper {
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
    }
    .ad-style{
        padding-left: 200px;
    }

    .news-grid {
        display: flex;
        flex-wrap: nowrap;
        gap: 12px;
        width: max-content;
    }
    .grid-padding {
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 60px
}


    .news-grid > .mud-grid-item {
        flex: 0 0 auto;
    }
    .mud-grid-spacing-xs-6>.mud-grid-item {
        padding-left: 24px;
        padding-top: 0px;
    }
    .poular-article-container{
        display: flex;
        flex-direction: column;
        gap: 35px;
        align-items: center;
        width: 100%;
        padding-left: 10px; 
        padding-right: 10px;
    }
    .multiple-container {
        grid-template-columns: 1fr;
    }
    .responsive-grid {
        justify-content: center;
         padding-left: 15px; 
    }
     .custom-text {
    font-weight: 600px;
    font-size: 14px;
    padding-left: 10px;
    padding-right: 10px;    
    font-family: 'Public Sans', sans-serif;
}
}
@@media (max-width: 375px) {
    .custom-text {
        font-weight: 600; 
        font-size: 14px;
        padding-left: 5px;
        padding-right: 5px;    
        font-family: 'Public Sans', sans-serif;
    }
     .grid-padding {
        padding-right: 16px;
        padding-top: 60px;
    }
}
@@media (max-width: 320px) {
    .custom-text {
        font-weight: 600; 
        font-size: 14px;
        padding-left: 2px;
        padding-right: 2px;    
        font-family: 'Public Sans', sans-serif;
    }
}
@@media (max-width: 1024px) {
    .poular-article-container {
        display: flex;
        flex-direction: column;
        gap: 24px;               
        padding-left: 16px;      
        padding-right: 16px;
        align-items: center;  
    }
}
@@media (max-width: 425px){
        .grid-padding {
        padding-right: 16px;
        padding-top: 60px;
    }
}
}
</style>