@inherits EditAdActionBase
@using MudBlazor
@using QLN.ContentBO.WebUI.Models

<div class="ad-preview-container">
    <div class="left-column">
        <div class="user-info">
            <div class="label">Username</div>
            <div class="value">@AdModel.UserName</div>
            <MudChip T="string" Color="Color.Success" Variant="Variant.Outlined" Class="status-chip">
                <span class="dot"></span> Active
            </MudChip>
        </div>

        <div class="button-row">

            @* Feature Button *@
             @if(IsPendingApproval){
                 <MudButton Color="Color.Success" Variant="Variant.Filled" Class="action-btn"
                           OnClick='@(() => ShowConfirmation("Approve", "Are you sure you want to Approve this ad?", "Approve"))'>
                    Approve
                </MudButton>
            }
             @if (IsNeedChange)
            {
                  <MudButton Color="Color.Error" Variant="Variant.Filled" Class="action-btn"
                           OnClick='@(() => ShowConfirmation("Need Change", "Are you sure you want to request Need Change for this ad?", "Need Change"))'>
                    Need Change
                </MudButton>

            }

            @if (AdModel.IsFeatured)
            {
                <MudButton Color="Color.Primary" Variant="Variant.Filled" Class="action-btn"
                           OnClick='@(() => ShowConfirmation("Unfeature Ad", "Are you sure you want to unfeature this ad?", "Unfeature"))'>
                    <img src="/qln-images/unfeatured_icon.svg" class="btn-icon" />
                    Unfeature
                </MudButton>
            }
            else
            {
                <MudButton Color="Color.Primary" Variant="Variant.Filled" Class="action-btn"
                           OnClick='@(() => ShowConfirmation("Feature Ad", "Do you want to feature this ad?", "Feature"))'>
                    <img src="/qln-images/unfeatured_icon.svg" class="btn-icon" />
                    Feature
                </MudButton>
            }

            @* Promote Button *@
            @if (AdModel.IsPromoted)
            {
                <MudButton Color="Color.Primary" Variant="Variant.Filled" Class="action-btn"
                           OnClick='@(() => ShowConfirmation("Unpromote Ad", "Are you sure you want to unpromote this ad?", "Unpromote"))'>
                    <img src="/qln-images/unfeatured_icon.svg" class="btn-icon" />
                    Unpromote
                </MudButton>
            }
            else
            {
                <MudButton Color="Color.Primary" Variant="Variant.Filled" Class="action-btn"
                           OnClick='@(() => ShowConfirmation("Promote Ad", "Do you want to promote this ad?", "Promote"))'>
                    <img src="/qln-images/unfeatured_icon.svg" class="btn-icon" />
                    Promote
                </MudButton>
            }

            @* Refresh Button *@
            @if (!AdModel.IsRefreshed)
            {
                <MudButton Color="Color.Primary" Variant="Variant.Filled" Class="action-btn"
                           OnClick='@(() => ShowConfirmation("Refresh Ad", "Do you want to refresh this ad?", "Refresh"))'>
                    <img src="/qln-images/refresh_icon.svg" class="btn-icon" />
                    Refresh
                </MudButton>
            }

            <MudButton Color="Color.Primary" Variant="Variant.Filled" Class="action-btn"
                       StartIcon="@Icons.Material.Outlined.RemoveRedEye" OnClick="OpenPreviewDialog">
                Preview
            </MudButton>

            @* Publish/Unpublish *@
            @if (CanUnpublish)
            {
                <MudButton Color="Color.Error" Variant="Variant.Filled" Class="action-btn"
                           StartIcon="@Icons.Material.Outlined.VisibilityOff"
                           OnClick='@(() => ShowConfirmation("Unpublish Ad", "Are you sure you want to unpublish this ad?", "Unpublish"))'>
                    Unpublish
                </MudButton>
            }
            else if (CanPublish)
            {
                <MudButton Color="Color.Primary" Variant="Variant.Filled" Class="action-btn"
                           StartIcon="@Icons.Material.Rounded.PublishedWithChanges"
                           OnClick='@(() => ShowConfirmation("Publish Ad", "Do you want to publish this ad?", "Publish"))'>
                    Publish
                </MudButton>
            }

            @* Remove Button *@
            <MudButton Color="Color.Error" Variant="Variant.Filled" Class="action-btn"
                       OnClick='@(() => ShowConfirmation("Remove Ad", "Do you really want to delete this ad?", "Remove"))'>
                <img src="/qln-images/delete_icon.svg" class="btn-icon" />
                Remove
            </MudButton>
        </div>
    </div>

    <div class="right-column">
        <div class="ad-info">
            <div class="value"><span title="@AdModel.Id" class="label">Ad ID:</span> @AdModel.Id</div>
            @* <div class="value"><span class="label">Order ID:</span> @OrderId</div> *@
        </div>
    </div>
</div>
