@page "/manage/classified/items/edit/ad/{Id:long}"
@using QLN.ContentBO.WebUI.Models
@inherits EditAdBase


@if (IsLoadingId)
{
    <MudOverlay @bind-Visible="IsLoadingId" DarkBackground AutoClose="false">
        <MudProgressCircular Color="Color.Warning" Rounded="true" Indeterminate="true" />
    </MudOverlay>
}

<!-- Back Button -->
<button class="back-button" @onclick="GoBack">
    <MudIcon Icon="@Icons.Material.Rounded.KeyboardArrowLeft" Class="back-icon" />
    Back
</button>

<!-- Edit Action -->
<EditAdAction AdModel="@adPostModel"/>

@if (editContext != null)
{
<!-- Main Form -->
<EditForm EditContext="@editContext" OnSubmit="@SubmitForm">
    <DataAnnotationsValidator />
    <div class="create-form-container">
        <MudGrid GutterSize="24px">
            <!-- Left Column: Form Fields -->
            <MudItem xs="12" md="5">
                <CreateFormList 
                    Zones="@Zones"
                    IsLoadingZones="@IsLoadingZones"
                    IsLoadingCategories="@IsLoadingCategories"
                    CategoryTrees="@CategoryTrees"
                    Ad="@adPostModel"
                    editContext="@editContext"
                    DynamicFieldErrors="@DynamicFieldErrors"
                    ExcludedFields="@ExcludedFields" 
                    DefaultSelectedPhoneCountry="@DefaultSelectedPhoneCountry"
                    DefaultSelectedWhatsappCountry="@DefaultSelectedWhatsappCountry"
                    OnAddressFieldsChanged="TrySetCoordinatesFromAddressAsync"
                />
            </MudItem>

            <!-- Right Column: Photo Upload -->
            <MudItem xs="12" md="7">
                <UploadPhotos AdModel="@adPostModel" />
                    
                <!-- Button Save Change -->
                <div class="custom-button-group" style="max-width: 200px ;">
                    <MudButton 
                        Class="custom-button"
                        Variant="Variant.Filled"
                        Color="Color.Primary"
                        Disabled="@IsSaving"
                        ButtonType="ButtonType.Submit">
                            <span>Save Change</span>
                    </MudButton>
                </div>
            </MudItem>
        </MudGrid>
    </div>
</EditForm>
}